[2013-07-05 13:19] caouecs opened #59 "[Proposal] Artisan command"
Hello,
I propose to do a command for Artisan for :

* installation of languages files
* remove files
* update files
* display changelog

with a cache system for versions

[2013-07-30 19:46] caouecs opened #73 "WIP : Version 1.0.0 for Laravel 4"
The aim of the version 1 is to propose the same number of languages than Laravel 3, with new files translated.

Status :

- [x] Albanian
- [x] Arabic
- [x] Bosnian
- [x] Brazilian
- [x] Bulgarian
- [x] Cambodian
- [x] Catalan
- [x] Chinese (zh-CN)
- [x] Chinese from Taiwan (zh-TW)
- [x] Czech
- [x] Danish
- [x] Dutch
- [ ] Finnish
- [x] French
- [x] German
- [x] Greek
- [ ] Hebrew
- [x] Hungarian

[2013-11-21 10:31] caouecs opened #137 "WIP : Version 1.1.0 for Laravel 4.1"
The aim of the version 1.1 is to have files ready for Laravel 4.1.

New line :

 * reminders.sent: "Password reminder sent!"

Status :

- [x] Albanian
- [x] Arabic
- [x] Bosnian
- [x] Brazilian
- [x] Bulgarian
- [x] Cambodian
- [x] Catalan
- [x] Chinese
- [x] Chinese from Taiwan (zh-TW)
- [x] Czech
- [x] Danish
- [x] Dutch
- [x] Finnish
- [x] French
- [x] German
- [x] Greek
- [ ] Hebrew
- [x] Hung

[2014-02-06 21:42] caouecs opened #172 "WIP : Version 1.1.1 with required_without_all"
The aim of the version 1.1.1 is to have files with new line.

New line :

"required_without_all" => "The :attribute field is required when none of :values are present."

Status :

- [ ] Albanian
- [x] Arabic
- [x] Bosnian
- [ ] Brazilian
- [x] Bulgarian
- [x] Cambodian
- [x] Catalan
- [x] Chinese
- [x] Chinese from Taiwan (zh-TW)
- [ ] Czech
- [x] Danish
- [x] Dutch
- [ ] Finnish
- [x] French
- [x

[2014-02-11 16:05] codeclown opened #178 "Finnish translations are incorrect"
The Finnish translations are obiously generated computationally, and they are horrible. Not usable at all.

Unfortunately I don't have time to provide better translations at the moment.

[2014-02-27 15:03] idhamperdameian opened #185 "Validation translation for 'email' rule changed"
There is something changed with 'email' rule for english translation. You can check at this link https://github.com/laravel/laravel/pull/2655.

I think this changes affect to all translation.

[2014-02-27 15:29] caouecs opened #187 "WIP : new validation.email"
The text of validation.email has been updated ( see #185 ) :

"email" => "The :attribute must be a valid email address."

Status :

- [ ] Albanian
- [x] Arabic
- [ ] Brazilian
- [x] Bosnian
- [x] Bulgarian
- [ ] Cambodian
- [x] Catalan
- [x] Chinese
- [x] Chinese from Taiwan (zh-TW)
- [ ] Czech
- [x] Danish
- [x] Dutch
- [ ] Finnish
- [x] French
- [x] German
- [ ] Greek
- [ ] Hebrew
- [x] Hungaria

[2014-02-27 15:30] #185 closed, assigned to nobody

[2014-02-28 22:44] #178 closed, assigned to nobody

[2014-02-28 22:46] caouecs opened #193 "WIP : validation.required_with_all"
A new line in validation.php

"required_with_all"    => "The :attribute field is required when :values is present.",

Status :
- [ ] Albanian
- [ ] Arabic
- [ ] Brazilian
- [ ] Bosnian
- [ ] Bulgarian
- [ ] Cambodian
- [ ] Catalan
- [ ] Chinese
- [ ] Czech
- [x] Danish
- [x] Dutch
- [ ] Finnish
- [x] French
- [ ] German
- [ ] Greek
- [ ] Hebrew
- [ ] Hungarian
- [x] Indonesian
- [ ] Italian
- [ ]

[2014-03-29 22:33] #193 closed, assigned to nobody

[2014-04-11 19:54] behnamyazdan opened #222 "Translate for Persian language"
hi
i translate this to persian (farsi) but i can't sent for you,

[2014-04-12 06:37] #222 closed, assigned to nobody

[2014-04-16 04:19] takahashiyuya opened #225 "All messages of ja needs to fix."
- Inconsistent format.
- Strange nuance.

I can fix those.

[2014-05-24 16:29] #225 closed, assigned to nobody

[2014-06-10 10:51] caouecs opened #235 "WIP : validation.boolean"
"boolean"              => "The :attribute field must be true or false"

Status :

- [ ] Albanian
- [ ] Arabic
- [x] Brazilian
- [ ] Bosnian
- [x] Bulgarian
- [ ] Cambodian
- [x] Catalan
- [x] Chinese
- [x] Chinese from Taiwan (zh-TW)
- [ ] Czech
- [x] Danish
- [ ] Dutch
- [ ] Finnish
- [x] French
- [x] German
- [ ] Greek
- [ ] Hebrew
- [x] Hungarian
- [x] Indonesian
- [x] Italian
- [x] Japanese
-

[2014-08-23 07:12] caouecs opened #258 "WIP : reminders.reset"
"reset" => "Password has been reset!"

Status :

- [ ] Albanian
- [ ] Arabic
- [x] Brazilian
- [x] Bosnian
- [x] Bulgarian
- [ ] Cambodian
- [x] Catalan
- [x] Chinese
- [x] Chinese from Taiwan (zh-TW)
- [ ] Czech
- [ ] Danish
- [x] Dutch
- [ ] Finnish
- [x] French
- [x] German
- [ ] Greek
- [ ] Hebrew
- [ ] Hungarian
- [x] Indonesian
- [x] Italian
- [x] Japanese
- [x] Korean
- [x] Lithunian
- [ ]

[2014-08-23 08:01] caouecs opened #259 "WIP : validation.timezone"
"timezone" => "The :attribute must be a valid zone."

Status :

- [ ] Albanian
- [ ] Arabic
- [x] Brazilian
- [x] Bosnian
- [x] Bulgarian
- [ ] Cambodian
- [x] Catalan
- [x] Chinese
- [x] Chinese from Taiwan (zh-TW)
- [ ] Czech
- [ ] Danish
- [x] Dutch
- [ ] Finnish
- [x] French
- [x] German
- [ ] Greek
- [ ] Hebrew
- [ ] Hungarian
- [x] Indonesian
- [x] Italian
- [x] Japanese
- [x] Korean
- [x] L

[2014-11-25 23:10] caouecs opened #311 "WIP : L5 passwords.sent"
From : "sent" => "Password reminder sent!"
To : "sent" => "Password reset link sent!"

Just in `laravel5` branch.

Status :

- [ ] Albanian
- [ ] Arabic
- [ ] Brazilian
- [ ] Bosnian
- [ ] Bulgarian
- [ ] Cambodian
- [ ] Catalan
- [x] Chinese
- [x] Chinese from Taiwan (zh-TW)
- [ ] Czech
- [ ] Danish
- [ ] Dutch
- [ ] Finnish
- [x] French
- [ ] German
- [ ] Greek
- [ ] Hebrew
- [ ] Hungarian
- [ ]

[2014-11-27 15:44] younes0 opened #313 "FR: le champ est "requis" sonne mieux que "obligatoire" non?"
Le champ email est obligatoire (payer ses impôts aussi)
Le champ email est requis.

Vote, PR...

[2014-11-27 17:35] #313 closed, assigned to nobody

[2015-01-17 06:44] idhamperdameian commented on #311
This issue may not relevan with https://github.com/laravel/laravel/commit/359af29ef3fd67b12029fa2a4b0455a9bf4731c2#diff-75

[2015-01-17 09:52] caouecs commented on #311
Hello @idhamperdameian,
yes, but I don't know if it's a try or not...

[2015-01-17 09:59] idhamperdameian commented on #311
So we just wait right?

2015-01-17 16:52 GMT+07.00, Fred Delrieu <notifications@github.com>:

--
Yeshua ha-Mashiach Memberkati!

[2015-01-19 15:02] caouecs commented on #311
We wait the end of week, to be sure

[2015-01-29 21:50] caouecs opened #323 "WIP : L5 passwords"
"sent" => "We have e-mailed your password reset link!",
"reset" => "Your password has been reset!"

Just in `laravel5` branch.

Status :

- [ ] Albanian
- [ ] Arabic
- [ ] Brazilian
- [ ] Bosnian
- [ ] Bulgarian
- [ ] Cambodian
- [ ] Catalan
- [x] Chinese
- [x] Chinese from Taiwan (zh-TW)
- [ ] Czech
- [ ] Danish
- [ ] Dutch
- [ ] Finnish
- [x] French
- [x] German
- [ ] Greek
- [ ] Hebrew
- [ ] Hu

[2015-01-29 21:51] caouecs commented on #311
Close for https://github.com/caouecs/Laravel4-lang/issues/323

[2015-01-29 21:51] #311 closed

[2015-01-30 01:29] overtrue commented on #323
Zh-* No need to modify，Thanks!

[2015-02-05 17:34] grrnikos opened #328 "Rename the repo and turn "laravel5" branch into "master""
As Laravel 5 is now official and stable, it's probably the perfect time to make these tiny but important updates. Imho, a slightly different but simpler name such as "laralang", "laralangs" or "laravel-lang" would be even better. What's your thought?

[2015-02-05 22:36] caouecs commented on #328
Hello,
this repository will be updated this week-end

[2015-02-06 09:02] grrnikos commented on #328
Nice, thanks :+1:

[2015-02-07 03:27] overtrue opened #340 "Have you considered removing the version number of repo name?"

[2015-02-07 09:23] caouecs commented on #340
yes, I work on a new package with commands to add, update and remove languages in a project

[2015-02-07 09:34] overtrue commented on #340
@caouecs :+1:

[2015-02-07 09:34] #340 closed

[2015-03-05 12:52] amenk opened #352 "Automatic installation via Composer"
When installing via composer, all lang folders should be automatically copied to app/lang so updates of the repo via composer also reflect any changes.

[2015-03-06 11:43] neomerx commented on #352
Auto update is not as good ides as it might look at first.
By design Laravel language files stores not only Laravel but user resources as well. Thus auto update for such files will lead to overwriting user strings.

[2015-03-06 19:58] caouecs commented on #352
Hello,
I started a new project to manage languages in a project

[2015-03-10 09:32] amenk commented on #352
Is this project already on GitHub?

[2015-03-10 09:48] caouecs commented on #352
not yet

[2015-03-12 07:46] neomerx commented on #352
IMHO it should migrate into tools like transifex.com or similar
It supports arrays in ```array( ... => ...)``` notation but not ```[]``` and nested arrays which requires some pre/post handling however it gives all the goodies of tracking and translation reuse

[2015-03-13 09:27] kw-pr commented on #352
Maybe it is possible to make a laravel package for the translations:
http://laravel.com/docs/master/packages#translations

Not sure if that would work but worth a try.

[2015-03-13 09:34] amenk commented on #352
Arn't packages for additional translations? Laravel-lang is replacing core translations.

[2015-03-13 13:37] overtrue commented on #352
https://github.com/overtrue/laravel-lang :smile:

[2015-03-13 14:02] kw-pr commented on #352
@overtrue exactly. That's what I am talking about. Awesome!

[2015-03-13 14:09] overtrue commented on #352
@kw-pr Thanks!

[2015-03-19 05:27] overtrue opened #360 "37 -> 44 ?"
:smile:

[2015-03-19 07:14] caouecs commented on #360
;)

[2015-03-19 07:19] overtrue commented on #360
:+1:

[2015-03-19 07:19] #360 closed

[2015-03-29 21:14] caouecs commented on #328
done, sorry for the delay

[2015-03-29 21:14] #328 closed

[2015-04-10 13:19] #352 closed

[2015-04-10 13:27] amenk opened #365 "Can't install"
Loading composer repositories with package information
	Updating dependencies (including require-dev)
	  - Installing caouecs/laravel4-lang (dev-master 8cd5048)
	    Downloading: Connecting...    Failed to download caouecs/laravel4-lang from dist: The "https://api.github.com/repos/caouecs/Laravel4-lang/zipball/8cd50480137307b620d574804289f800e6b50246" file could not be downloaded (HTTP/1.1 404 Not

[2015-04-10 13:33] amenk commented on #365
Download from repo works though ... but it should also work from the dist / zipball

[2015-05-11 12:05] ronlobo opened #369 "Languages and countries translations"
Hey there,

What about languages and countries translations?

[2015-05-11 19:34] caouecs commented on #369
Hello,
see https://github.com/caouecs/Laravel-lang/blob/master/Status.md

[2015-05-11 19:34] #369 closed

[2015-05-12 11:14] ronlobo commented on #369
Well, this was meant to have translations of language and country names, not the status :rotating_light:

[2015-05-12 12:21] caouecs commented on #369
This project is just for translations of Laravel

[2015-05-12 13:28] ronlobo commented on #369
Ai, thanks :)

[2015-05-22 10:37] amenk commented on #365
*bump*

[2015-05-22 11:55] caouecs commented on #365
Hello,
sorry but I tried, and I don't have any problem : "caouecs/laravel4-lang": "~2.0"

[2015-05-22 12:00] amenk commented on #365
did you install from source or from dist?

[2015-05-22 12:57] amenk commented on #365
GitHub will make redirects in one of the next releases: https://developer.github.com/changes/2015-04-17-preview-repository-redirects/

[2015-05-27 14:18] amenk commented on #365
Still I think the composer repo should be fixed. We currently can not install our projects properly :-(

[2015-05-27 14:27] caouecs commented on #365
I'm sorry but I don't have your problem, so I can't help to fix it

[2015-05-27 14:36] amenk commented on #365
It looks like it started working now. Can not reproduce it in a new project so I belive composer update will be enough.

Thank you.

[2015-05-27 14:36] #365 closed

[2015-06-12 03:22] brayansdt opened #376 "Wrong pt-BR translation at validation.php"
People, before everything, thanks a lot for your project, you helped me very much. :D
But the problem that I noticed is that in the line 75 in pt-BR/validation.php file should be like this:
"string"           => "O campo :attribute deve ser um texto.",
instead of that:
"string"           => "The :attribute must be a string.",
:)

[2015-06-12 06:05] caouecs commented on #376
Hello,
the aim of this project is to translate files, so you can propose a PR with your work.

Thanks ;)

[2015-07-03 20:25] #376 closed

[2015-07-08 19:02] #73 closed

[2015-07-08 19:02] #137 closed

[2015-08-08 00:42] epjuan21 opened #412 "Error in lang es validation.php"
In line 73 "String" the translation is in english. =>The :attribute must be a string

[2015-08-08 15:18] caouecs commented on #412
Hello,
the aim of this project is to help us to translate all files in all languages. So, if you want, you can do a PR with the Spanish version of string ;)

[2015-08-10 13:43] kneipp opened #413 "Split laravel-lang subdirectories in submodules"
Hello :-)

I started a Laravel template to start my fresh projects: https://github.com/kneipp/brazilian-laravel-template/  and would be nice if can link /lang/pt-BR to Laravel-lang submodule.

Can be nice for someone else.

[2015-08-10 15:33] caouecs commented on #413
Hello,
if I do it for Brazilian, I must do for all languages... or you can do a PR

[2015-08-10 16:00] kneipp commented on #413
Hello, i guess we can do it for all languages, what do you think?

Can i start with portuguese PR?

[2015-08-10 18:54] caouecs commented on #413
What is the benefit ?

[2015-08-10 21:49] kneipp commented on #413
Reusability and modularity on your repo.
People will choose language instead all of them, like composer.

[2015-08-24 14:31] #412 closed

[2015-08-24 14:31] #59 closed

[2015-08-24 14:31] #172 closed

[2015-08-24 14:31] #187 closed

[2015-08-24 14:32] #235 closed

[2015-08-24 14:32] #258 closed

[2015-08-24 14:32] #259 closed

[2015-08-24 14:32] #323 closed

[2015-09-19 09:40] #413 closed

[2015-09-20 11:38] mendrinos opened #430 "en folder?"
What about adding the en language folder as well?

It looks like there are some custom validation attributes translations on other languages but not in english...

[code]

[2015-09-20 11:39] repoman1 commented on #430
Help

[2015-09-20 11:42] mendrinos commented on #430
Just to clarify a bit further:

This line of code:
https://github.com/caouecs/Laravel-lang/blob/master/ar/validation.php#L108

Doesn't exist on the default laravel en folder..:
https://github.com/laravel/laravel/blob/master/resources/lang/en/validation.php#L108

[2015-09-20 14:37] caouecs commented on #430
Hello,
the "en" folder is included in laravel/laravel project, not needed here

for the 'attributes' array, it was an evolution from laravel 4 to have basic words

[2015-09-20 14:54] mendrinos commented on #430
so this means we have all the translations for these attributes but not in english?

[2015-09-20 17:41] caouecs commented on #430
No, look others files

[2015-09-22 10:00] nicolaeturcan opened #431 "Laravel-Lang Management"
Hi Caouecs,

I have a doubt. Is it needed to copy the langs from /vendor/caouecs/laravel4-lang to /resources/lang in order to make them working? If so, how can I can update langs from my laravel 5.1 project when your ones get changed in vendor?

Thanks for your attention.

[2015-09-22 10:05] overtrue commented on #431
@nicolaeturcan https://github.com/overtrue/laravel-lang :smile:

[2015-09-22 10:22] nicolaeturcan commented on #431
@overtrue Thanks for your answer.

[2015-09-22 10:22] #431 closed

[2015-09-22 10:26] overtrue commented on #431
@nicolaeturcan You are welcome. :monkey_face:

[2015-10-06 06:44] mkwsra opened #438 "[Laravel 5.1] Any Interest of updating it?"
I'd appreciate it if you've plan for it.

[2015-10-06 08:48] #430 closed

[2015-10-06 14:03] caouecs commented on #438
Can you explain ?

[2015-10-07 11:25] mkwsra commented on #438
Nothing.. sorry

[2015-10-07 11:25] #438 closed

[2015-11-03 08:54] billmn opened #460 "[Proposal] Improve Coding Style"
With few changes to ".php_cs" rules we can increase files readability like this:

![laravel-lang-cs-fix](https://cloud.githubusercontent.com/assets/779534/10904104/c25582be-8210-11e5-9741-4d8a15a26491.jpg)

This can also be automatically fixed using StyleCI (https://styleci.io/).
Thoughts?

[2015-11-03 11:05] jbrooksuk commented on #460
:+1: for StyleCI ;)

[2015-11-04 17:51] arcanedev-maroc opened #463 "[Suggestion] ARCANEDEV/LaravelLang package"
Salut Fred :+1:,

I've recently created a package [ARCANEDEV/LaravelLang](https://github.com/ARCANEDEV/LaravelLang) based on your package translations.

This package offer more functionalities than `overtrue/laravel-lang`.

**The main features are :**
  * Missing translations Checker.
  * Translations Publisher.
  * Well documented & IDE Friendly.
  * Well tested with maximum code quality.

I want

[2015-11-26 20:21] arcanedev-maroc commented on #460
Check the PR #469

[2015-11-27 13:51] caouecs commented on #460
Hello,
the code is more readable, but it's dangerous when you add a new key, longer. All must be shifted...

[2015-11-27 15:33] arcanedev-maroc commented on #460
Long string line : Yep.
Dangerous: Nope.

IMO, this is just a string it's not like a long method name + arguments, if statement or something that have a logic behind.

[2015-11-27 22:29] caouecs commented on #460
Ok, but we must update .php_cs

[2015-12-01 12:27] #460 closed

[2015-12-01 12:37] arcanedev-maroc commented on #460
Salut @caouecs,

How about .php_cs ? can you explain me/us what it does ?

[2015-12-01 12:41] billmn commented on #460
Is a set of rules for php-vs-fixer.
I can change this rules today or tomorrow

[2015-12-01 12:50] arcanedev-maroc commented on #460
So this is for local dev by using it with CLI/IDE.

[2015-12-01 14:56] caouecs commented on #460
Yes, but I prefer to do in local

[2015-12-06 10:36] LukasMa commented on #463
Hi,
work great with Laravel 5.1.*.

[2015-12-06 12:19] #463 closed

[2015-12-06 14:27] arcanedev-maroc commented on #463
Glad to hear that :+1:

[2015-12-06 19:08] arcanedev-maroc opened #478 "Creating CONTRIBUTING.md"
It's useful to create a CONTRIBUTING.md and cleaning up the README.md :

  * Improved contributing guidelines.
  * Testing and stuff.
  * For more details : https://github.com/blog/1184-contributing-guidelines

Check [this CONTRIBUTING.md](https://github.com/thephpleague/skeleton/blob/master/CONTRIBUTING.md) and/or [this CONTRIBUTING.md](https://github.com/ARCANEDEV/LaravelLang/blob/master/CONTRIB

[2015-12-06 21:15] caouecs commented on #478
see source.md

[2015-12-06 21:15] #478 closed

[2015-12-07 01:34] arcanedev-maroc commented on #478
@caouecs

Non, je parle pas des **contributeurs**, je parle **comment contribuer** à ce projet (les regles/étapes a suivre).

[2015-12-07 05:57] caouecs commented on #478
C'est dans le readme

[2015-12-07 07:12] arcanedev-maroc commented on #478
Est ce que t'as compris à ce que j'ai dis dans le 1er commentaire :confused: ?

[2015-12-17 07:32] atomoc opened #481 "Permissions for files"
Rights to the files do not allow them to read laravel.

[2015-12-17 14:25] caouecs commented on #481
Hello,
with this project, you must copy files in the good repository.

[2015-12-17 14:25] #481 closed

[2015-12-17 14:32] atomoc commented on #481
Hello. Sorry, i don't understand you. I spent an hour on it to find out what the problem is. I would not want someone to have done the same.

[2015-12-17 14:58] arcanedev-maroc commented on #481
Hi @atomoc, can you tell us more details about your issue ?

Try to follow these steps:

 * Download the latest version : https://github.com/caouecs/Laravel-lang/archive/master.zip.
 * Unzip the file and copy a specific locale folder (or all locales) to the laravel's lang folder.
   * For example : copy the `fr` folder to `your-laravel-project/resources/lang`.
 * You can test the lang by switching

[2015-12-17 15:04] atomoc commented on #481
Thanks @arcanedev-maroc, it needs one more point:
* Assigning rights to files: chmod -R 755 resources/lang/ru

[2015-12-17 15:15] arcanedev-maroc commented on #481
You're welcome :+1:

[2016-02-10 09:27] shakaran opened #496 "Transition package to non versioned package name"
I see in the [README](https://github.com/caouecs/Laravel-lang/blob/master/README.md) that this package is installed for Laravel 5 as:

    composer require caouecs/laravel4-lang ~2.0

Probably for Laravel 5, it would be less confusing if you create or transition the package to *laravel-lang* without the "4" marking the version. That is:

    composer require caouecs/laravel-lang ~2.0

Since you ca

[2016-02-27 12:30] caouecs commented on #496
Hello @shakaran,
it's in my todo ;)

[2016-02-27 13:43] shakaran commented on #496
@caouecs Thanks! :+1:

[2016-03-22 08:10] mansouralex opened #528 "Danish validation language file UTF-8 Issue"
I'm facing an issue with Danish validation file and I'm getting this exception for the email rule for example.

Malformed UTF-8 characters, possibly incorrectly encoded

What should be the proper fix for this kind of issue?

Thanks.

[2016-03-22 15:58] caouecs commented on #528
Hello,
I don't have any problem with the file. When you open the file in your ide, what is the encoding of file ?

[2016-03-22 16:13] mansouralex commented on #528
Thanks for bringing it up - I changed the file encoding to UTF-8 and it works now.

[2016-03-22 16:13] #528 closed

[2016-03-22 16:25] caouecs commented on #528
If you want you can update the danish file ;)

* distinct
* in_array
* present
* required_unless
* string
* timezone

[2016-03-22 16:27] mansouralex commented on #528
I will be glad to do so, but I'm not danish language speaker. I'm building an application for a client from Denmark :)

[2016-03-23 07:11] caouecs opened #531 "Roadmap v3"
Hello,
the aim of this project is the translation of Laravel files, all Laravel versions, and just translations.

For the version 3 :

 * [x] new name for Composer : caouecs/laravel-lang
 * [x] translated files in src directory
 * [x] documentation

[2016-03-23 08:49] arcanedev-maroc commented on #531
You forgot about moving all the translations into the new `src` folder (Major change).

[2016-03-23 18:05] caouecs commented on #531
No, because for me, this project is just for files of translation, readme and todo list. The script for todo list will be on another project.

So you Will be able to use this project for your own projects, without dependencies or constraints.

[2016-03-23 18:58] arcanedev-maroc commented on #531
Even if this package contains only translation files but it needs to follow some conventions.

The idea behind the `src` folder is very obvious and explains itself => This is the main folder and it contains all translations.

As a dependency that i use for my package, it's an assurance that is not gonna fail on me like the case where you added the `script` folder.

You can keep the `script` folder

[2016-03-23 19:42] caouecs commented on #531
done ;)

[2016-03-24 07:26] #496 closed

[2016-03-24 07:26] caouecs commented on #496
see #531

[2016-04-02 14:30] arcanedev-maroc commented on #531
Is there any progress ?

[2016-04-02 17:40] caouecs commented on #531
Hello,
sorry but I'm on vacation ;)

[2016-04-05 13:40] caouecs commented on #531
changelog updated

[2016-04-12 12:25] arcanedev-maroc commented on #531
How about adding the `CHANGELOG.md`, `LICENSE.md` and `CONTRIBUTING.md` files and keep the `README.md` file skinny and clean ?

Like this repo: https://github.com/thephpleague/skeleton

[2016-04-12 14:39] caouecs commented on #531
You can

[2016-04-15 14:12] ablunier opened #540 "Command for easy installation"
Hi!

I made a small package to install language files from an artisan command on any Laravel project and it uses as source your repository :)

https://github.com/ablunier/laravel-lang-installer

Just wanted to inform about it, cheers!

[2016-04-16 18:42] arcanedev-maroc commented on #540
You can also check this one: https://github.com/caouecs/Laravel-lang/issues/463

[2016-04-17 09:40] arcanedev-maroc commented on #531
Hi @caouecs, great work :+1:

About the *version for Laravel 5.2 with uppercase on variables*, nice feature to have in Laravel, i didn't know that :smile:.

But, i prefer to stick with the default `en` translations (Like this [validation.php file](https://github.com/laravel/laravel/blob/master/resources/lang/en/validation.php) or [this one](https://github.com/caouecs/Laravel-lang/blob/v3/script/en

[2016-04-18 15:44] caouecs commented on #531
I do two versions, one for Laravel 5.1 and one for Laravel 5.2 and uppercase ? ;)

[2016-04-18 15:45] caouecs commented on #540
I will add in Readme.md a list of tools which use this package

[2016-04-18 15:45] #540 closed

[2016-04-18 15:56] arcanedev-maroc commented on #531
I mean that the `caouecs/laravel-lang:v3` is going to be compatible with Laravel `5.1` & `5.2` if you keep the lowercase `:attribute` (backward compatibility).

[2016-04-18 19:51] caouecs commented on #531
Maybe, but I think a v3.1 can just be for Laravel 5.2 ;)

[2016-04-18 20:10] arcanedev-maroc commented on #531
As you like. But it you group them in one branch, you're going to avoid extra work to maintain them.

[2016-04-18 20:28] caouecs commented on #531
Laravel 5.1 is LTS version... so for v3, I'm ok to delete the uppercase variable

[2016-04-18 20:30] caouecs commented on #531
I added in README.md a list of projects based on this project

[2016-04-20 07:49] caouecs commented on #531
@arcanedev-maroc I think now the v3 is ready

[2016-04-20 12:54] arcanedev-maroc commented on #531
Hi @caouecs,

The `:Attribute` with capital **A** still in some languages like `ca`, `cs`, `da` ...

After that, i think the v3 is ready to be released :+1:

[2016-04-20 16:28] caouecs commented on #531
done

[2016-04-21 09:13] caouecs commented on #531
If all is good, this evening ( French hour ), I will merge v3 in master

[2016-04-23 21:40] #531 closed

[2016-04-29 03:03] overtrue opened #546 "[Proposal] Add en files."
Hi, @caouecs , I am working on my package `overtrue/laravel-lang`, I want to make it lumen support.

So, do you think is that alright?

[2016-04-29 06:17] caouecs commented on #546
Hi,
lumen doesn't have language files since 5.2 version ;) and before, it's the same validation file.

[2016-04-29 06:24] overtrue commented on #546
@caouecs No, the lang path of lumen is `vendor/laravel/lumen-framework/resources/lang` 😆 ，so, I will update my package to load it. Thanks.

[2016-04-29 06:24] #546 closed

[2016-04-29 11:55] caouecs commented on #546
Ah !!! OK ;) But it's the same validation file, no ?

[2016-04-29 11:56] overtrue commented on #546
@caouecs Yes, it is.

[2016-04-29 11:56] overtrue commented on #546
@caouecs https://github.com/overtrue/laravel-lang

[2016-07-11 08:42] caouecs opened #571 "PHP_CS and 'logical_not_operators_with_successor_space',"

[2016-09-25 13:49] Djasir opened #598 "Not translated auth.php file comments of ru"
Translation:
    /*
    |--------------------------------------------------------------------------
    | Языковые ресурсы аутентификации
    |--------------------------------------------------------------------------
    |
    | Следующие языковые ресурсы используются вовремя аутентификации для
    | различных сообщений которые мы должны вывести пользователю на экран.
    | Вы можете свободно изм

[2016-09-25 19:26] caouecs commented on #598
Hello,
can you do a pull request ?

Thanks

[2016-09-26 06:49] Djasir commented on #598
Hello, i did it.

[2016-09-26 12:24] #598 closed

[2016-11-01 12:36] codeclown commented on #571
This is probably related to the fact that complying with collaboration guidelines and running `php-cs-fixer` results in `todo.php` being rejected by Style-CI?

[2016-11-03 09:01] #571 closed

[2016-11-03 12:33] standaniels opened #624 "Latvian translations?"
I would greatly appreciate it if anyone could share Latvian translations for Laravel 4.

Thanks in advance.

[2017-01-08 09:39] #624 closed

[2017-01-28 18:07] kiwo12345 opened #657 "is it compatible with 5.4?"

[2017-01-29 20:32] caouecs commented on #657
Hello,
yes I think. But I don't test it

[2017-02-03 06:55] #657 closed

[2017-04-29 17:29] sandervanhooft commented on #657
@caouecs  @kiwo12345 Have you tried it yet with Laravel 5.4?

If it works, I'd advise to include this as a comment in the readme. The Laravel 5.4 docs introduce a new localization/translation system, so at first glance I'd suspect it will not work. I'm probably wrong though :).

[2017-04-29 17:45] caouecs commented on #657
@sandervanhooft this package is just a translation of existing files, so no problem ;)

[2017-04-30 20:19] sandervanhooft commented on #657
Works indeed, thanks @caouecs !

[2017-05-25 21:46] caouecs opened #700 "Letters capitalized"
Since Laravel 5.2, we can define letters capitalized. A new branch has been created to add this feature : `capital_letters`.

* [x] ar
* [x] be
* [x] bg
* [ ] bn
* [x] bs
* [ ] ca
* [ ] cs
* [x] cy
* [ ] da
* [ ] de
* [x] el
* [ ] es
* [ ] et
* [ ] fa
* [x] fi
* [x] fr
* [ ] gl
* [x] he
* [ ] hi
* [x] hr
* [x] hu
* [x] id
* [x] is
* [ ] it
* [ ] ja
* [ ] ka
* [ ] kk
* [ ] km
* [ ] ko
* [x] lt
* [x

[2017-05-26 03:11] overtrue commented on #700
zh-* not needed

[2017-05-29 14:15] ctf0 commented on #657
@caouecs maybe we can make a new branch just for the json type files introduced in the latest release ?

maybe even include a script to convert the php to json for easier maintenance.

[2017-05-29 14:43] caouecs commented on #657
good idea

[2017-06-04 22:20] ctf0 opened #710 "[Enhancement] Add Json validation files."
<s>
as of Lara v5.4 , you can now use json file type for validation instead of the usual php, this doesnt mean that php files will stop working but its more of having another option.

## Todo
1- make a new branch for the json file type.
2- include a script to convert the `php` to `json` for easier maintenance.
3- make the new json branch available to composer so user only install what he needs ***

[2017-06-05 01:06] #710 closed

[2017-06-05 01:17] ctf0 commented on #700
[ar] is done

[2017-07-05 14:29] BenSaud-CS opened #730 "Arabic"
I think this is much better translation

[code]

Best regards [M. Saud](https://twitter.com/BenSaud_CS) 🤠

[2017-08-07 11:29] caouecs commented on #730
Hello,
can you do a pull request ? Thanks

[2017-08-09 06:21] BenSaud-CS commented on #730
Done!

[2017-08-09 08:55] caouecs commented on #730
see #738

[2017-08-09 08:55] #730 closed

[2017-09-04 11:52] caouecs commented on #700
Hello all,
I think it's time to merge this feature in master, for a new version ( 4.x.x )

[2017-09-06 10:24] selmonal opened #749 "Idea of cli command tool"
Sometimes i just need only Mongolian [mn] for my app. And no need of multi lang package in the composer. In this case laravel-lang cli tool would be very useful to me. See the scenerio below:

[code]

After this command [mn] lang files gonna copied to resources directory and app.locale config changed to mn.

laravel-lang should be installed globally. Then use it like the laravel-installer.

[2017-09-06 13:26] caouecs commented on #749
See https://github.com/caouecs/Laravel-lang#projects-based-on-this-package

[2017-09-11 09:06] idhamperdameian opened #751 "Validation changed in original source."
I think you need to update it again, please look at original source [here](https://github.com/laravel/laravel/commit/90886732cf6df6d8694287c3f9d92496a4f1c61b#diff-9c04f727a922ad4f105b9ad764ec221d)
https://github.com/caouecs/Laravel-lang/blob/827aa1240855862582573495aa67b50835792bc5/script/en/validation.php#L44

[2017-09-11 09:37] caouecs commented on #751
:'(

[2017-09-11 09:40] idhamperdameian commented on #751
Headache?  😺

[2017-09-11 09:44] caouecs opened #752 "Update : validation.filled"
Hello,
can you check if files are ok with the new value for validation.filled ?

`
'filled' => 'The :attribute field must have a value.',
`

* [x] ar
* [ ] be
* [x] bg
* [ ] bn
* [ ] bs
* [ ] ca
* [ ] cs
* [ ] cy
* [ ] da
* [x] de
* [ ] el
* [x] es
* [ ] et
* [ ] fa
* [ ] fi
* [x] fr
* [ ] gl
* [ ] he
* [ ] hi
* [ ] hr
* [ ] hu
* [x] id ( see #750 )
* [ ] is
* [x] it
* [ ] ja
* [ ] ka
* [ ] kk
* [

[2017-09-11 09:46] caouecs commented on #751
I open a issue for all languages ( #752 )

[2017-09-11 09:46] #751 closed

[2017-09-11 11:44] hebbet commented on #752
the german translation is fine.

[2017-10-19 12:49] martinyakimov25 commented on #752
The Bulgarian translation is fine too.

[2017-10-24 23:36] ven7ura commented on #752
spanish filled is fine.

[2017-11-04 12:13] kapitannwel opened #774 "validation: two chain conditions"
i have four textboxes (textbox_1, textbox_2, textbox_3, textbox_4).

if textbox_4 is empty i need to check if textbox_2 and textbox_3 are not empty , then i need to require textbox_1 to not empty.

please help me do this inside the App\Http\Request\MyFormRequests.php

[2017-11-04 13:27] kapitannwel commented on #774
please ignore, solved:

$rules = [ 'previous_fields' => 'require' ];

if ($this->textbox_4 =='')
{
   $rules['textbox_1'] = 'required_with_all:textbox_2,textbox_3';
}

[2017-11-05 16:37] #774 closed

[2017-11-07 09:50] moathdev commented on #752
arabic filled is fine.

[2017-12-02 21:33] VictoRD11 commented on #752
Ukrainian filled is fine.

[2018-01-23 11:39] wolacinio opened #785 "Invalid format validation. No such file or directory in directory"
When I run `php script/todo.php` receives a message:

Problem in incorrect format file `src/lv/validation`. Must be `src/lv/validation.php`

[2018-01-23 12:41] #785 closed

[2018-01-23 16:12] andrey-helldar opened #788 "Publishing in resources/lang"
I can help you make your package able to publish all the translation files when executing the `php artisan vendor:publish` command.

[2018-01-23 19:28] caouecs commented on #788
Thank you but it's not the aim of this package

[2018-01-23 19:45] #788 closed

[2018-01-26 07:16] #749 closed

[2018-01-26 09:02] andrey-helldar commented on #749
@selmonal use a package https://github.com/andrey-helldar/laravel-lang-publisher 😊

[2018-01-26 09:03] andrey-helldar commented on #788
In that case, let there be a link to the package that allows this.

https://github.com/andrey-helldar/laravel-lang-publisher 😊

(based on your package)

[2018-03-06 17:15] ugurarici commented on #752
Turkish validation.filled is also fine 👍

[2018-03-20 12:31] tbrennanNHB commented on #752
Dutch is filled fine

[2018-04-05 06:32] adrianpop1990 opened #810 "validation.php => not_regex translation"
The value of `not_regex` in `validation.php` (Branch: master) is always *'The :attribute format is invalid.'*

[2018-04-05 06:33] adrianpop1990 commented on #810
It should have the same value as `regex`.

[2018-04-22 08:41] themahabbat opened #814 "Azerbaijani translation"
Hi, i made Azerbaijani translation for Laravel. You can add it too (https://github.com/themahabbat/Laravel-AZ)

[2018-04-22 09:01] caouecs commented on #814
Hello,
can you do a pull request with your work please ?

Thank you by advance

[2018-04-22 09:05] themahabbat commented on #814
Of course.

[2018-05-09 02:02] HarmlessEvil commented on #752
Russian is OK

[2018-05-20 00:38] #814 closed

[2018-05-20 00:38] #810 closed

[2018-06-05 10:47] srexi commented on #752
Danish is fine

[2018-06-11 22:20] Kyslik commented on #752
sk is 👍

[2018-06-12 07:52] Kyslik opened #843 "How to use this with composer"
I was following the instructions and either I am blind or something is missing.

This repository has no service provider, so no Laravel magic is happening, do I have to manually copy the contents from `./vendor` to `resources/lang`?

[2018-06-12 12:32] caouecs commented on #843
Hello,
the best is to use one of projects based on this package :

* [LaravelLang by ARCANEDEV](https://github.com/ARCANEDEV/LaravelLang)
* [Laravel-lang by overtrue](https://github.com/overtrue/laravel-lang)
* [laravel-lang-installer by ablunier](https://github.com/ablunier/laravel-lang-installer)

[2018-06-12 14:00] #843 closed

[2018-07-06 10:55] mohamedsabil83 opened #857 "Json output when run composer update"
After updating to the last version, new son file rendered when running `composer update` or any artisan command like `ide-helper:package` or `package:discover` like shown in this image.
![screenshot from 2018-07-06 13-50-35](https://user-images.githubusercontent.com/10126040/42375445-3b63c7dc-8124-11e8-8226-9801dcb00936.png)

[2018-07-09 09:07] nickdekruijk commented on #857
Experiencing the same.
Removing vendor/caouecs/laravel-lang/src/fr/fr.json and vendor/caouecs/laravel-lang/src/de/de.json fixes it but it probably needs to be fixed in another way.

[2018-07-09 15:23] mohamedsabil83 commented on #857
Thanks, bro. As you said, it's just happened with **fr** and **de** but not others.

[2018-07-09 15:24] nickdekruijk commented on #857
Must be because of commit #145b58b, de and fr are the only ones with .json files inside the folder

[2018-07-09 21:03] mohamedsabil83 commented on #857
That's weird. cause there is **ar.json** file too but not shown when installing the package. why just those two included when installing?
Hope someone fixes that.

[2018-07-10 06:30] caouecs commented on #857
@mohamedsabil83 it's with versions, now you will have problem with ar.json, ru.json...

I think the simpler solution is to have a "json" directory outside "src" directory

[2018-07-10 10:43] mohamedsabil83 commented on #857
@caouecs yes it's stopped the terminal tracing. I tested like that:
- update to the last version **3.0.52** which cause that.
- create a new folder **json** outside **src**.
- move `src > de > de.json` and `src > fr > fr.json` to the new `json` folder.

now, any calling for artisan or composer didn't trace the content of json's files.

[2018-07-10 13:50] caouecs commented on #857
I have done a new branch ["json"](https://github.com/caouecs/Laravel-lang/tree/json)

[2018-07-12 21:13] caouecs commented on #857
it's ok for you with the branch "json" ?

[2018-07-12 22:52] mohamedsabil83 commented on #857
yes it's working fine without any tracing to terminal

[2018-07-13 16:54] mohamedsabil83 commented on #857
Thank you. Just upgrading and all work fine.

[2018-07-13 17:12] #857 closed

[2018-08-03 14:16] ionesculiviucristian opened #864 "Romanian language is partially translated"
As the title says (gt / gte / lt / lte / not_regex / ipv4 / ipv6).

[2018-08-03 14:34] ionesculiviucristian commented on #864
Something like this should do:
[code]

[2018-08-04 17:26] caouecs commented on #864
Hello,
thank you, can you do a pull request ?

[2018-08-06 23:28] Eugene-Melbourne opened #871 "Installation instruction needs a hint."
Please help. It is not clear from instruction of how to make laravel goes into
`"endor/caouecs/laravel-lang` instead of `resources\lang\`

[2018-08-11 03:29] Govar-Web opened #872 "i want add kurdish language to your project but you stop upload file!"
i want add kurdish language to your project but you stop upload files!
thank for upload.
[ku.zip](https://github.com/caouecs/Laravel-lang/files/2279886/ku.zip)

[2018-08-13 04:54] caouecs commented on #872
Please read this [document](https://github.com/caouecs/Laravel-lang/blob/master/CONTRIBUTING.md)

[2018-08-13 04:54] #872 closed

[2018-08-13 04:56] caouecs commented on #871
Hello,
you copy files which you want in resources/lang, or you can use a [package](
https://github.com/caouecs/Laravel-lang#projects-based-on-this-package) based on this project.

[2018-08-13 04:56] #871 closed

[2018-09-10 06:29] #864 closed

[2018-09-18 16:54] pedrofurtado opened #886 "Doubt: Capital letter"
@caouecs I have a doubt. In README.md of project, there is a snippet like this:

I want to contribute with PR's, but I did not understand what exactly we have to do.

Thanks! :beers:

[2018-09-18 17:06] pedrofurtado commented on #752
@caouecs The "pt-BR" and "es" is also ok ( https://github.com/caouecs/Laravel-lang/blob/fd07e8a847b4c07655ba0461714ec9a3e02b1e23/src/pt-BR/validation.php#L43 ) ( https://github.com/caouecs/Laravel-lang/blob/fd07e8a847b4c07655ba0461714ec9a3e02b1e23/src/es/validation.php#L43 ) :+1:

[2018-10-29 07:12] caouecs commented on #886
Hello,
for the moment, nothing with this branch.

[2018-10-29 07:12] #886 closed

[2018-11-07 01:49] gatno opened #938 ":min not working"
on german language file the :min placeholder is not working.

I got the following error-message on 'gt'=>'numeric':
amount muss mindestens :min sein.

If i change laravel to english it's correct:
The amount must be greater than 5.

[2018-11-07 09:39] caouecs commented on #938
Hello,
because in english, it's not ":min" but ":value".

Can you try with ":value" in german version ?

[2018-11-07 09:50] gatno commented on #938
Hmm it's also :min in english.
Here is the Line:
[https://github.com/laravel/laravel/blob/master/resources/lang/en/validation.php#L86](https://github.com/laravel/laravel/blob/master/resources/lang/en/validation.php#L86)

[2018-11-07 09:51] caouecs commented on #938
euh...

you wrote :  'gt'=>'numeric':

[2018-11-07 09:52] gatno commented on #938
Yes, my fault. :see_no_evil:

[2018-11-07 10:04] caouecs commented on #938
I update files with problem of :min, :max and :values

[2018-11-07 10:04] #938 closed

[2018-11-07 10:18] #700 closed

[2018-11-07 10:18] #752 closed

[2019-01-03 05:59] tuanpht opened #977 "Removing double arrow alignments?"
- Laravel 5.7 had removed them. https://github.com/laravel/laravel/pull/4830
- Running `php-cs-fixer fix` also removes them

[code]

Can we apply these changes to this repo?

[2019-01-18 19:49] andrey-helldar commented on #977
@tuanpht, why are you against them?

[2019-03-06 11:06] jos- opened #1007 "Minimum password length is 8 characters in Laravel 5.8"
See https://github.com/laravel/framework/pull/25957

All passwords.php files should be updated. The old default was 6 characters.

[2019-03-07 18:14] caouecs commented on #1007
Hello,
thank you.

I think to do a branch "laravel-58" for the moment

[2019-03-08 09:17] ankurk91 opened #1013 "Tag a new version"
Hi,

I see last version was tagged on Nov 2018, and there has been lots of changes since then.
Can you please tag a new version?

[2019-03-08 09:23] caouecs commented on #1013
done

[2019-03-08 09:23] #1013 closed

[2019-03-09 08:05] darrenliuwei opened #1018 "这个文件 json 格式好像少了一个英文逗号？"
https://github.com/caouecs/Laravel-lang/blob/274e80d8ce28771fb56c77742b8b5d12bdc8fa21/json/zh-CN.json#L46
这一行后面好像少了一个逗号？

[2019-03-09 10:36] dfzhou6 opened #1020 "/json/zh-CN.json格式不正确"
第46行少了个英文逗号
"Whoops, something went wrong on our servers.": "哎呀，我们的服务器出了问题。"

[2019-03-09 10:48] caouecs commented on #1018
fixed

[2019-03-09 10:48] #1018 closed

[2019-03-09 10:48] caouecs commented on #1020
fixed

[2019-03-09 10:48] #1020 closed

[2019-03-11 13:56] Hans4221 opened #1022 "Translation for "This password reset link will expire in :count minutes." missing!"
I use your files to translate the laravel basic things to german. And I noticed that in de.json (and other) the key "This password reset link will expire in :count minutes.": is missing.

I saw it by testing the reset password email.

I'm not so deep in Laravel yet and if that's normal then I apologize for the message.

For me I added to de.json:
"This password reset link will expire in :count min

[2019-03-12 18:57] caouecs commented on #1022
Hello,
yes, see https://github.com/caouecs/Laravel-lang/blob/master/todo.md#de

Can you do a pull request ?

[2019-03-14 00:27] ChenRuihua opened #1027 "目前发布的3.0.60版本并没有解决zh-CN.json格式的问题，希望发布一个3.0.61版本。谢谢。"
https://github.com/caouecs/Laravel-lang/blob/274e80d8ce28771fb56c77742b8b5d12bdc8fa21/json/zh-CN.json#L46

[2019-03-14 12:41] crisslin commented on #1027
Laravel-lang/json/zh-CN.json
Line 46，尾巴少了逗号，3.0未修复。

[2019-03-14 13:48] overtrue commented on #1027
@caouecs Plz make a new release for the fixed bug: https://github.com/caouecs/Laravel-lang/commit/bd37d4d40963d8154d0819c719cab21a69d62396

[2019-03-14 17:25] caouecs commented on #1027
done

[2019-03-14 17:26] #977 closed

[2019-03-14 22:25] overtrue commented on #1027
:+1:

Fred Delrieu <notifications@github.com>于2019年3月15日 周五上午1:25写道：

[2019-03-15 05:52] overtrue commented on #1027
@ChenRuihua 请关掉此 issue.

[2019-03-16 09:21] #1027 closed

[2019-03-27 19:02] waclaw66 opened #1039 "CZ (cs) validation.min translation"
Hello.
Translation for 'min' is incorrect, it currently means 'greater than', not 'at least'...
[code]
is should be corrected somehow like...
[code]

Thanks for fixing that.

[2019-03-27 20:34] caouecs commented on #1039
Thank you, but can you do a pull request ?

[2019-03-27 21:57] waclaw66 commented on #1039
There it is...
https://github.com/caouecs/Laravel-lang/pull/1041

[2019-03-28 20:02] caouecs commented on #1039
thank you

[2019-03-28 20:02] #1039 closed

[2019-03-30 14:35] edoc-dokopp commented on #1007
The interim name is producing dependency problems.

[2019-04-03 09:42] andrey-helldar commented on #1007
@edoc-dokopp, maybe use [andrey-helldar/laravel-lang-publisher](https://github.com/andrey-helldar/laravel-lang-publisher) instead arcanedev/laravel-lang?
That package has support for versions 5.3-5.8.

[2019-04-05 05:47] ukadev opened #1044 "Array alignment question"
Hi there!
I just would like to ask about the array formating. I'm looking to the package and I noticed that in some update the arrays have changed to be aligned instead of natural size array key => value.
IMO it's better to maintain the natural size alignment for easy reading and because if you add a new larger key you have to change the whole file, and it may cause conflicts.

What do you think a

[2019-04-06 09:22] andrey-helldar commented on #1044
Alignment of elements improves the reading of the array by man. Concerning conflicts, before sending the PR you need to update your code. In other cases, conflicts are impossible.

See also #977, #460 and #477.

[2019-04-06 10:54] ukadev commented on #1044
Thank for the response and sorry for the duplicated topic.
IMO the alignment doesn't improve the reading of the array. It's easier and faster follow the line separated by an space than by <for example> two or three tabs. It's just logic: more space, more difficult to read.
If you want to see a beauty code it can be perfect, like inside a table, but it's not what I want when I code, I prefer to hav

[2019-04-06 11:09] andrey-helldar commented on #1044
Probably someone like that. Personally, it's easier and more convenient for me to read aligned code. Without alignment, for me personally, the code looks like a pile of dung.

Perhaps the author of the package does not agree with me.

Example:

![thumb](https://cloud.githubusercontent.com/assets/779534/10904104/c25582be-8210-11e5-9741-4d8a15a26491.jpg)

[2019-04-06 11:17] andrey-helldar commented on #1044
In my opinion, if you read the code as a book, then yes, the indents are in the way. But if you read the code as a code, the lack of indentation is confusing. The eyes see the plot and do not immediately understand this key name or the text has already begun.

[2019-04-06 11:34] ukadev commented on #1044
Oh, I see, your ide show a line of dots to maintain the line between the key and the value of the value. In phpstorm I don't see that (at least by default).

Well, I think I don't need to read the code as a book, and the keys are simply at the begining of the line. It's not really dificult to see tham (at least for me), that's why the arrow has a different colour.  Even the auto-formating tool of

[2019-04-06 12:02] andrey-helldar commented on #1044
This is a screenshot from #460. I use a light theme for phpStorm, but now I can’t show it because I am in another country.

The psr-2 standard allows both types, but which one depends on the developer. As they say in our country, "all markers are different in taste and color." 🙂

[2019-04-07 10:45] andrey-helldar commented on #1044
I have no points in the code in the lines. In order not to be confused which element belongs to which line, I try to break the lines into logical blocks.
Example:

![S90407-13240018](https://user-images.githubusercontent.com/10347617/55682368-3e9e1200-593b-11e9-8566-a27852c1bf83.jpg)

This makes it much easier to read an array than with solid text.

[2019-04-12 12:06] arnyee opened #1051 "Serbian country code issue"
Hello, The Serbian folder nem (sr) is not correct, the correct country code is rs!

[2019-04-15 10:17] tanmuhittin opened #1055 "Publish a Stable Version for Laravel 5.8"
I am preparing a PR for https://github.com/barryvdh/laravel-translation-manager in order to publish Laravel base lang files when a new locale added. I am planing to use this repository via https://github.com/andrey-helldar/laravel-lang-publisher/pull/3 but https://github.com/barryvdh/laravel-translation-manager requires minimum stability:stable. So I need a stable version of this package for Larav

[2019-04-15 18:26] caouecs commented on #1051
Hello,
we respect the iso 639-1 and it's sr

[2019-04-15 19:21] andrey-helldar commented on #1055
I support!

In my opinion, splitting versions by branch name is not a very good solution.

Alternatively, a major version can be used as a stable branch.

For example:
[code]

[2019-04-15 19:46] caouecs commented on #1055
oki dokki

I will do it tomorrow

[2019-04-15 19:54] andrey-helldar commented on #1055
I am sure that you, @caouecs, can do it without me, but anyway I will post a picture here 😊

![2019-04-15_22-53-19](https://user-images.githubusercontent.com/10347617/56161043-4b70d480-5fd1-11e9-9075-4306dade2922.png)

[2019-04-16 14:22] andrey-helldar commented on #1055
@caouecs, I prepared the necessary changes for both branches ☝ 😊

[2019-04-16 16:30] andrey-helldar commented on #1055
@caouecs, thank you!

@tanmuhittin, use version [^1.5](https://github.com/andrey-helldar/laravel-lang-publisher/releases/tag/v1.5.0) version for a stable Laravel 5.8 and above or [^1.0](https://github.com/andrey-helldar/laravel-lang-publisher) for Laravel 5.3-5.8 inclusive.

[2019-04-19 06:26] #1055 closed

[2019-04-22 15:30] petercoles commented on #1051
@caouecs

Great package. And right answer on this issue, though for the wrong reasons.

It is true that the ISO 639-1 code for Serbian is sr whereas the ISO 3166 code is rs, which I suspect prompts this issue. However, you also use pt-BR, zc-CN, zh-HK and zh-TW, which aren't ISO 639-1 codes.

I'd suggest the standard that actually matters here is the PHP locale codes. For that the 14 or so flavour

[2019-04-23 15:29] caouecs commented on #1051
iso 3166 is for country, not language

[2019-05-26 08:32] pverhaert opened #1069 "nl.json"
Laravel 5.8 uses new error messages for 404.blade.php and 500.blade.php.
Please add the following lines to **nl.json**:

"Not Found": "Niet gevonden",
"Server Error": "Serverfout",

[2019-06-06 03:01] sinkcup opened #1073 "standard: locale should be zh_CN not zh-CN"
You can not set zh-CN as locale, it breaks the standard, it will failed, it should be converted to zh_CN.

So folders in this `laravel/lang` should use underline, e.g., zh_CN, pt_BR.

- language tag: zh-CN
- locale: zh_CN

https://www.php.net/manual/zh/function.setlocale.php

https://www.php.net/manual/zh/function.gettext.php

https://en.wikipedia.org/wiki/Locale_(computer_software)

[code]

[2019-07-12 13:55] lagagain commented on #1073
As I know, the language code has multiple standards. For Unix-like System, the habit is using "_" to concatenate two codes.  Like you know, and I had the same question for some site URL(I use Linux too).  You can entry [Microsoft Website](https://www.microsoft.com/zh-cn) with `zh-cn`, `zh-tw` etc.

------------

The Section - External links of [Language code](https://en.wikipedia.org/wiki/Language

[2019-07-12 14:15] lagagain opened #1077 "Combine coderello/laravel-nova-lang language JSON Files"
Hi,
had you consider to combine the project [coderello/laravel-nova-lang language](https://github.com/coderello/laravel-nova-lang/) ?

I found it has richly useful content and uses a friendly LICENSE -- MIT LICENSE.(Same this project)

If this advice is suited to this project, I think I can help to do the job.

[2019-07-26 16:42] #1073 closed

[2019-07-26 16:42] #1022 closed

[2019-07-26 16:42] #1044 closed

[2019-07-26 16:42] #1051 closed

[2019-07-26 16:43] #1069 closed

[2019-07-26 16:43] #1077 closed

[2019-07-26 17:47] caouecs opened #1084 "Laravel 5.8 by default"
Hello,
I think it's time to do merge laravel58 branch in master ; Laravel 5.8 version will be by default.

If you are ok, I do it this week-end.

[2019-08-01 19:12] #1007 closed

[2019-08-04 11:16] andrey-helldar commented on #1084
I am for)

[2019-08-05 20:15] #1084 closed

[2019-08-08 10:58] marioene opened #1091 "[RO] Wrong translation in validation.php"
Hi,

Wrong translation in validation.php for romanian language.

File Laravel-lang/src/ro/validation.php

line 103:

    'same'                 => 'Câmpul :attribute și :other trebuie să fie identice.',

should be:

    'same'                 => 'Câmpurile :attribute și :other trebuie să fie identice.',

Argument:

'Câmpul' (Field in english) is for a singular field (like :attribute).

'Câmpurile'

[2019-08-12 20:33] caouecs commented on #1091
Hello,
can you do a pull request ?

[2019-08-22 19:32] #1091 closed

[2019-08-23 08:51] andrey-helldar opened #1104 "Laravel 6.0 removed deprecated language line"
Laravel 6.0 is coming soon.
You see this https://github.com/laravel/laravel/pull/5074?

I [prepared a commit for PR](https://github.com/andrey-helldar/Laravel-lang/commit/7c01c71e79cf4d9a64ca4344c8eaba061c361f64) (+ [fix codestyle](https://github.com/andrey-helldar/Laravel-lang/commit/d351d2f8b9f87f06412884203de2752ffdf028cf)) for all languages, but you can’t send it to the master. The best soluti

[2019-08-26 18:50] caouecs commented on #1104
For the moment, it's not mandatory to delete it, the package will stay compatible with Laravel 5 and 6 ;)

[2019-08-26 19:39] andrey-helldar commented on #1104
Hmm... 😑
Yea! 👍

[2019-08-26 19:39] #1104 closed

[2019-12-15 21:04] dvlden opened #1178 "Does not use language set as locale"
Either README is not clear enough or I'm doing something wrong?
To my understanding, it should be working as:

1. Install package
2. Set locale and fallback_locale in the config/app
3. It works

If so, it does not... I get English messages instead of messages in `sr` locale that I specified.
Further, in the README file, I saw that there's a mention of copying dirs/files that we need? Why is it a p

[2019-12-18 21:52] andrey-helldar commented on #1178
@dvlden, this package contains only translation files that need to be manually transferred to the resource folder of your project.

Or use the https://github.com/andrey-helldar/laravel-lang-publisher package to automatically install and update languages.

[2019-12-19 09:23] #1178 closed

[2020-01-16 15:09] vpratfr opened #1185 "Command to publish translation files"
At https://github.com/coderello/laravel-nova-lang they have a command to make it easy to publish the translation files in your language.

That would be handy for this package too.

[2020-01-18 16:51] caouecs commented on #1185
Hello,
we just translate files

[2020-01-18 16:51] #1185 closed

[2020-01-31 08:47] perifer opened #1197 "Capitalize translation placeholders"
Would you accept a PR that changed `:attribute` at the beginning of a sentence to `:Attribute`?

See https://github.com/laravel/framework/pull/11337 and https://github.com/laravel/framework/issues/11285 for details.

I'm personally only using `sv`, but I could maybe look into other languages as well.

[2020-02-02 13:07] caouecs commented on #1197
Hello,
no problem

[2020-02-04 18:13] #1197 closed

[2020-03-13 22:10] andrey-helldar opened #1221 "Irrelevant project description"
**Now:**
![2020-03-14_01-08-28](https://user-images.githubusercontent.com/10347617/76662861-5a208c80-6590-11ea-9c53-b003e26b4ba4.jpg)

**Need:**
`List of 74 languages for Laravel 5, 6 and 7`

(73 in the `src` directory + `en`)

[2020-03-17 15:45] caouecs commented on #1221
75 ;)

[2020-03-17 17:17] #1221 closed

[2020-03-18 15:01] daltar opened #1226 "problem with lang.json"
Hello,

I am currently using the file json/fr.json from your repository.
Everything is translated, except for this line :

    "If you’re having trouble clicking the \":actionText\" button, copy and paste the URL below\ninto your web browser: [:displayableActionUrl](:actionURL)": "Si vous avez des problèmes en cliquant sur le bouton \":actionText\", faites un copié/collé de l'url ci-dessous dans v

[2020-03-18 15:55] daltar commented on #1226
I am using laravel 6.5.2 btw

[2020-03-18 19:42] andrey-helldar commented on #1226
You can fork this repository, modify file [json/fr.json](https://github.com/caouecs/Laravel-lang/blob/master/json/fr.json) and send PR.

[2020-03-27 09:23] caouecs commented on #1226
For Laravel 6, you don't need the line with *displayableActionUrl* ? It's for Laravel 7, is not it ?

[2020-03-27 13:45] idhamperdameian commented on #1226
Hi this issue is correct, the translation changing since Laravel 6.x. Please check here https://github.com/laravel/framework/blob/6.x/src/Illuminate/Notifications/resources/views/email.blade.php#L55

For Laravel prior to 6.x the translations is good.

So I think all *.json file need to modified for Laravel 6.x dan Laravel 7.x

[2020-03-27 14:31] idhamperdameian commented on #1226
The line _displayableActionUrl_ affected since Laravel 6.x. Please check here https://github.com/laravel/framework/blob/6.x/src/Illuminate/Notifications/resources/views/email.blade.php#L55

[2020-04-16 13:05] Daniel-Mendes commented on #1226
I think it's because laravel don't pass the actionURL only actionText.

File: [email.blade.php](https://github.com/laravel/framework/blob/7.x/src/Illuminate/Notifications/resources/views/email.blade.php)

[code]

[2020-04-16 14:12] Daniel-Mendes commented on #1226
D’ailleurs c'est copier/coller et pas copié/collé

[2020-04-27 16:36] caouecs commented on #1226
je dirais plutôt copiez et collez

[2020-04-30 10:57] robertgarrigos commented on #1226
This line:

[code]

should be changed to:

[code]

[2020-05-06 07:19] olsza commented on #1226
I noticed the same error as you @robertgarrigos in the translation for PL, I corrected the same problem, and only now I noticed that you wrote it here;)

[2020-05-09 17:47] caouecs commented on #1226
Sorry for the lag

So, I delete "[:displayableActionUrl](:actionURL)" everywhere ?

[2020-05-10 10:53] robertgarrigos commented on #1226
just delete `[:displayableActionUrl](:actionURL)`

[2020-05-12 18:36] caouecs commented on #1226
done

[2020-05-13 05:56] olsza commented on #1226
thx for updating all files :)

[2020-06-02 06:50] #1226 closed

[2020-06-08 08:17] neatstudio opened #1259 "支持找到__('')方法中的字符，并转成语言包吗？"
如题。比如有一些代码是先写的，类似于mock一样，在写的时候并没有相应的语言包设置。
比如就写了不少的$name = __('name');或者 $ame = __('admin.name');
能否根据这个生成相应的 language文件？
比如默认的，就加到zh-CN.json中。有前缀的创建相应的文件，并写进去？

[2020-06-08 19:26] caouecs commented on #1259
Hello,
sorry, but can you translate in english ?

[2020-06-09 01:25] neatstudio commented on #1259
sorry ,i want send issue to project : overtrue/lang ...
it's my fault.

[2020-06-09 01:25] #1259 closed

[2020-06-15 01:16] jeff-h opened #1262 "Login vs Log In"
In our site we prefer to use "Log In" where the term is used as a verb, but doing so eliminates all your lovely translations, because they are only available for "Login".

Is this simply because Laravel itself only uses "Login"? Would you consider adding "Log In" as well? Unfortunately I am too ignorant to know what kind of impact that would have in all the other languages.

[2020-06-21 07:43] lasseeee opened #1267 "Update Style CI whitespace check"
The way this repo is set up to add white space in arrays through Style CI is outdated and should  be updated to match how the Laravel repo now does it. There are legitimate reasons not to add the white space, even though it seems to make readability worse.

[2020-06-21 09:08] caouecs commented on #1267
We prefer with spaces ;)

[2020-06-21 09:26] lasseeee commented on #1267
I understand.

It's not in line with the official files though: https://github.com/laravel/laravel/blob/master/resources/lang/en/validation.php and whenever a new translation key is added that is longer than any of the previous keys, white space would need to be added to all the keys, effectively making it impossible to see which key was the new one, as the current setup of Style CI would probably

[2020-06-23 12:12] kohlerdominik opened #1268 "Proposal: validation-strings without attribute placeholder"
Hi

### Issue

By default Laravel always uses the `:attributes`-Placeholder in it's validation strings.
But for example in in Material Design it's recommendet to provide the Error Message right next to the Input field ([Source](https://material.io/components/text-fields)). This kind of makes the `:attribute` a redundancy. While for english, the guessed names may be usuable mostly (not always prett

[2020-06-24 14:20] bjoerne2 opened #1269 "ISO 15897 format of country specific locales"
On https://laravel.com/docs/7.x/localization it says:

Wouldn't it be better to rename the country specific folders, e.g. de-CH -> de_CH?

[2020-06-25 18:38] caouecs commented on #1269
Good idea, we need to do a new major version ( v7 ), because we brake directory names...

Can you do a pull request ?

[2020-06-25 18:41] caouecs commented on #1262
Good question... for French, no difference

Your problem is for json ?

[2020-06-25 18:43] caouecs commented on #1267
We are not an official package of Laravel ;)

So I prefer more reactions of community before change something

[2020-06-25 18:44] caouecs commented on #1268
It's a very good idea, we can do another branch with it

Can you do a pull request with english and german translations ? I can do for French

[2020-06-26 07:30] jeff-h commented on #1262
Yes, the json.

[2020-06-26 10:04] caouecs commented on #1262
Maybe, the easier is to add « log in » in English Json and wait that community translates ;)

[2020-06-26 20:09] lasseeee commented on #1267
I'd be surprised if the community would oppose this, as it would align this package (which is made for Laravel) better with Laravel.

[2020-06-28 15:19] kohlerdominik commented on #1268
Hi @caouecs

Thanks for the positive Feedback. I just didn't find time yet, but I'll create the PR next week.

[2020-06-28 22:09] NormanHuth opened #1272 "Personal pronouns of the German language."
In the German language there are two different forms of personal pronouns. The first is a personal form (Du) and the second a formal form (Sie).
Currently in translation in the "Sie" form.

Would it be possible to implement a choice between the "Du" and "Sie" form for the German languages?
One option would be to call them for example "de_DU"?

[2020-07-03 18:25] bjoerne2 commented on #1269
I created a PR: https://github.com/caouecs/Laravel-lang/pull/1276

[2020-07-05 19:40] NormanHuth commented on #1272
I add a service provider including a choice for an alternative language ("Du") for the German languages.

Pull Request follows.

[2020-07-05 19:40] #1272 closed

[2020-07-08 09:01] caouecs commented on #1269
Can I have references for language names ? As sr_Cyrl

[2020-07-08 11:43] caouecs opened #1278 "Update todo.php for inline validations"
Add support of inline validations in todo.php ( see #1274 )

- [x] add validation-inline.php in each src directory
- [x] update todo.php with validation-inline.php

[2020-07-09 09:01] #1268 closed

[2020-07-10 07:08] caouecs opened #1281 "Validation-inline in translation publisher"
Dear package managers,

in the version 6.1 of Laravel-lang, we added a new file : `validation-inline.php`. It looks like `validation.php` but without `:attribute` ( see [project](https://github.com/caouecs/Laravel-lang/projects/2) ).

I think it should be a good idea to propose at your package users to choose between `validation.php` and `validation-inline.php`.

Actually, I'm working on the updat

[2020-07-10 07:37] andrey-helldar commented on #1281
Oh! Thank! I will add his support soon. 👍

[2020-07-10 07:40] overtrue commented on #1281
OK! I will add this support soon. 👍

[2020-07-10 08:38] #1278 closed

[2020-07-10 09:16] andrey-helldar commented on #1281
My package was released 😎

[2020-07-11 10:59] #1281 closed

[2020-07-11 11:13] caouecs commented on #1269
My problem is for sr_Cyrl, sr_Latn, uz_Cyrl and uz_Latn.

[2020-07-11 17:36] andrey-helldar commented on #1269
Either I read the technical documentation poorly, or in the description of the [ISO 15897](http://www.open-std.org/jtc1/sc22/wg20/docs/n610.pdf) standard from 1998 there is no mention of the rules for naming language localizations.
Standard ISO 15897 from the 2011 model year is [paid](https://www.iso.org/standard/50707.html) 😐

[2020-07-11 18:04] andrey-helldar commented on #1269
I may be wrong, but I want to propose to call it this way:
[code]

[2020-07-11 20:50] andrey-helldar commented on #1259
@neatstudio,

This is implemented by json localization files.

As far as I know, a package from `overtrue` is not able to work with them. But you can use [another translation manager](https://github.com/andrey-helldar/laravel-lang-publisher#lang-publisher) who knows how to do this.

[2020-07-13 09:16] andrey-helldar commented on #1267
@lasseeee, in one of the translation managers it is possible to choose the appearance of the final file.

When this option is set to `true`, the resulting file will be nicely formatted with space characters.
When this option is set to `false`, the resulting file will not use spaces.

See https://github.com/andrey-helldar/laravel-lang-publisher/blob/master/config/lang-publisher.php#L21-L27

Using t

[2020-07-13 09:21] lasseeee commented on #1267
Amazing!

[2020-07-13 09:21] #1267 closed

[2020-07-13 09:22] andrey-helldar commented on #1267
Personally, my opinion is that a formatted array is much easier to read and modify. Therefore, we here prefer to store it in this form. It makes us happy.

You can also use the [translation manager](https://github.com/andrey-helldar/laravel-lang-publisher), which can save the final file in two versions - with and without formatting.

In my opinion, this is ideal for fans of one of two formats.

[2020-07-13 09:41] caouecs opened #1286 "Language names in translation publisher"
Dear package managers,

in the future version 7 of Laravel-lang, we will set some sub-directories of src directory ( see #1269 ) :

| Old name | New name |
|-|-|
| de-CH | de_CH |
| pt-BR | pt_BR |
| sr-cyrillic | sr_Cyrillic |
| sr-latin | sr_Latin |
| uz-cyrillic | uz_Cyrillic |
| uz-latin | uz_Latin |
| zh-CN | zh_CN |
| zh-HK | zh_HK |
| zh-TW | zh_TW |

Regards,

caouecs

#### Projects based

[2020-07-13 09:44] andrey-helldar commented on #1286
Thanks for the info!

My package is ready for such changes 😊

[2020-07-13 10:55] caouecs commented on #1286
Maybe tomorrow, it's our national day in France ;)

[2020-07-13 10:57] andrey-helldar commented on #1286
My congratulations!
![image](https://user-images.githubusercontent.com/10347617/87297263-d4e2bf80-c510-11ea-8e19-3e9209a24032.png)

[2020-07-13 19:03] caouecs commented on #1269
done

Thank you

[2020-07-13 19:03] #1269 closed

[2020-07-13 21:03] andrey-helldar commented on #1286
My package has been [updated](https://github.com/andrey-helldar/laravel-lang-publisher/releases/tag/v5.0.0) 😎

@arcanedev-maroc, @overtrue, guys it's your turn 🍻

[2020-07-21 06:20] #1286 closed

[2020-07-24 20:49] caouecs opened #1296 "The future of Laravel-lang"
I started this repository the 30 May 2013, with the help of Evgeny Kovalev, because Taylor Otwell didn't want to manage translations directly in Laravel Framework. We started with French, Russian, Dutch, Polish, Turk and Chinese versions, and now, we have 75 languages in the package.

I admit that sometimes, I merged pull requests without review ; most of the time, because I didn't understand the

[2020-07-27 05:24] WhereIsLucas commented on #1296
I like the idea of a gh organisation, and I can help for the french translation.
I think laravel-lang is a good idea!

[2020-07-27 06:40] caouecs commented on #1296
Yes, a list of referent by language is a good idea

[2020-07-27 10:30] andrey-helldar commented on #1296
Laravel-Lang is a great idea and the namespace is free.

I can be responsible for the Russian-language translation of files.

![image](https://user-images.githubusercontent.com/10347617/88532442-48a2c300-d00d-11ea-9abb-b6e8cb8380d3.png)

[2020-07-27 10:47] andrey-helldar commented on #1296
I see several options:

Option 1:
Only translation files are stored in the repositories, and they will be installed by a common package.

Option 2:
Make each localization self-contained.
[code]

At the same time, create a common package for installing all locales:
[code]

Or leave this choice for package managers

[2020-07-27 11:25] andrey-helldar commented on #1296
I want to say that you need to think over the actions in such a way that the user does not install all localizations at all as dependencies. So I'm thinking about how best to do the process of installing and updating packages.

@caouecs, @arcanedev-maroc, what do you think?

[2020-07-27 11:26] andrey-helldar commented on #1296
I want to say that you need to think over the actions in such a way that the user does not install all localizations at all as dependencies. So I'm thinking about how best to do the process of installing and updating packages.

@overtrue, @arcanedev-maroc, what do you think?

[2020-07-27 11:47] caouecs commented on #1296
75 repositories ?

[2020-07-27 11:51] andrey-helldar commented on #1296
Therefore, I doubt this option.Best Regards    Andrey Helldar14:47, 27 июля 2020 г., Fred Delrieu <notifications@github.com>:
75 repositories ?

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-07-27 13:01] jorgercosta commented on #1296
I don't mind taking over pt_PT.

[2020-07-27 13:38] andrey-helldar commented on #1296
@caouecs, maybe create a table with the names of those who are ready to be responsible for localizations?
In my opinion, this will make it easier for us and for those who want to take an active part in the life of the package.

| Lang | Assignee |
| --- |:--|
| ar | |
| az | |
| be | |
| bg | |
| bn | |
| bs | |
| ca | |
| cs | |
| cy | |
| da | |
| de | |
| de_CH | |
| el | |
| es | |
| et | |
|

[2020-07-27 14:12] caouecs commented on #1296
I copied the table in the subject

[2020-07-27 14:13] caouecs commented on #1296
Other question : we work with pt or pt_PT ? fr or fr_FR ? etc...

[2020-07-27 14:20] andrey-helldar commented on #1296
Ok. I removed the table from my post :)

[2020-07-28 11:26] jorgercosta commented on #1296
i think we should go with language tags
https://www.w3.org/International/questions/qa-choosing-language-tags

[2020-07-30 06:51] WhereIsLucas commented on #1296
@caouecs  I can manage **nl** and **de** translations too btw!

I think it would be great to have scripted installation for the package, by using publishing, making it easier to use for a wide range of users. I  copy-paste the files, but I think it's not the most efficient way to do it.

Another way could be a package "main" which contains just a download script, downloading the required files dir

[2020-07-30 07:08] andrey-helldar commented on #1296
@WhereIsLucas, https://github.com/andrey-helldar/laravel-lang-publisher 😉

[2020-07-30 07:42] jensstigaard commented on #1296
I can be responsible for the danish translation.

[2020-07-30 08:25] caouecs commented on #1296
## Projects based on this package

* [LaravelLang by ARCANEDEV](https://github.com/ARCANEDEV/LaravelLang) - Translations manager and checker for Laravel.
* [Laravel-lang by overtrue](https://github.com/overtrue/laravel-lang) - Command to add languages in your project.
* [laravel-lang-publisher by Andrey Helldar](https://github.com/andrey-helldar/laravel-lang-publisher) - Easy installation and upda

[2020-07-30 11:15] WhereIsLucas commented on #1296
Didn't see the projects, this could be great to combine the projects into the organization?

[2020-07-30 11:22] andrey-helldar commented on #1296
What I mean is that the Laravel Lang package provides translation source files. Translation managers are responsible for publishing translations within the framework.
Now Fred is changing his style of work. As soon as he provides new data, translation managers will be added to his support.

[2020-07-30 13:36] 360157 commented on #1296
hello, I can take over the Ukrainian localization

[2020-07-30 17:36] caouecs commented on #1296
Hello,
it's your first time on this project, no ?

You can help on json and validation-inline 👼

https://github.com/caouecs/Laravel-lang/blob/master/todo.md#uk

Thanks

[2020-07-31 19:20] andrey-helldar commented on #1296
@MrAlKuz, ping

[2020-08-04 11:53] dbasechhetri commented on #1296
I want to contribute to Nepali language.
I can be responsible for the Nepali or Nepalese (नेपाली) translation.

[2020-08-04 18:39] caouecs commented on #1296
https://github.com/caouecs/Laravel-lang/blob/master/todo.md#ne thank you ;)

[2020-08-06 08:33] MrAlKuz commented on #1296
Greetings, thanks for the invitation to the project, I will be happy to
help in the development and prosperity of this business, I also want to
immediately notice that the "UK" code (United Kingdom) is not correct for
Ukraine, but "UA" is correct

ср, 5 авг. 2020 г. в 20:28, Fred Delrieu <notifications@github.com>:

[2020-08-06 08:52] caouecs commented on #1296
We follow ISO-639-1 and Ukrainian is UK https://en.wikipedia.org/wiki/Ukrainian_language

[2020-08-06 13:15] andrey-helldar commented on #1296
Country abbreviation - UA
Language abbreviation - UK

[2020-08-06 19:52] caouecs commented on #1262
@jeff-h ping

[2020-08-06 20:05] caouecs opened #1304 "Repository name on Laravel-Lang organization"
Hi,
I started to work on the [migration](https://github.com/orgs/Laravel-Lang/projects/1), and I need your help on the repository name.

For the moment, we have `Laravel-Lang/Laravel-lang`... no cool...

So, what are your ideas for the repository name ?

 * Laravel-Lang/translations
 * Laravel-Lang/lang
 * ...

[2020-08-06 20:41] caouecs opened #1305 "Ready for Laravel 8 ?"
The 8th september, Laravel 8 will be released.

I don't follow the last development.

So, someone knows if we are ready for Laravel 8 ?

[2020-08-07 06:05] dbasechhetri commented on #1304
laravel-Lang/global

[2020-08-07 06:15] dbasechhetri commented on #1305
For general user, 7.x is good but for pro its very good to new version 8.0.
But i think people need a little bit more time for new version.

[2020-08-07 07:16] caouecs commented on #1305
My question is about the development of Laravel 8.0, to know if new translations are in this version ( php files and json )

[2020-08-07 07:17] caouecs commented on #1304
Your proposition must start by `Laravel-Lang\` the name of the organization

[2020-08-07 11:49] dbasechhetri commented on #1305
Yet, it is not fixed . Many user are familiar with PHP files.
As a developer,  user are shifting to josn and gaining popularity nowadays.
We can write directly in a single page with less less syntax.

[2020-08-07 11:53] dbasechhetri commented on #1304
Laravel-Lang\locale
Laravel-Lang\dialect
Laravel-Lang\compute
Laravel-Lang\speech

[2020-08-07 11:55] dbasechhetri commented on #1304
Laravel-Lang\diction

[2020-08-11 06:50] caouecs commented on #1305
I check the code, and I didn't see update on php translation files. For json, it's most difficult to check.

[2020-08-13 09:59] jeff-h commented on #1262
Closing, because this repo is for text that already exists in the Laravel framework, and unfortunately "Log In" and "Log Out" don't.

[2020-08-13 09:59] #1262 closed

[2020-08-14 05:48] caouecs commented on #1304
Thank you for your proposals,

but the winner is **Laravel-Lang/lang** ;)

[2020-08-15 17:33] vdanny commented on #1296
Hi, I'd like to contribute on Bahasa Indonesia (ID)

[2020-08-17 09:10] andrey-helldar commented on #1305
In the [repository](https://github.com/laravel/laravel/tree/develop/resources/lang/en), the translation files have not been changed for the 8th version.

[2020-08-17 09:13] andrey-helldar commented on #1304
**Laravel-Lang/lang**... Tautology...

Maybe:

- Laravel-Lang/translate
- Laravel-Lang/trans
?

[2020-08-17 12:53] caouecs commented on #1304
I prefer *trans* ;)

[2020-08-17 13:17] andrey-helldar commented on #1304
FTM, MTF... 😂

[2020-08-17 14:02] caouecs commented on #1304
I choose *lang* because it's the name of directory in laravel framework

[2020-08-17 14:05] andrey-helldar commented on #1304
The project will be named whatever you choose.
IMHO, the use of the word "lang" is a tautology in the namespace.

[2020-08-19 15:42] michabbb opened #1311 "DE: recommendation"
https://github.com/caouecs/Laravel-lang/blob/8cf07e05c5b2dd812046a62d30e5ccf3ec1e3ac2/src/de/validation.php#L148

i would like to recommend adding here:

`'pcode'                 => 'Postleitzahl',`

[2020-08-24 14:39] LukaLatkovic commented on #1296
@caouecs I meant to manage Serbian translations :) and help with organisation :)

[2020-08-30 09:19] AdrianEdy commented on #1296
Hello, I can help you to manage the Indonesian language (ID)

[2020-08-30 09:47] caouecs commented on #1296
Can you translate validation-inline.php and id.json ?

[2020-08-30 10:00] AdrianEdy commented on #1296
Sure

[2020-09-01 07:37] mortenscheel opened #1319 "Packagist doesn't know the new package name"
Composer throws an error when running `composer require laravel-lang/lang` (with or without version) saying it couldn't find a matching package.

According to [Packagist](https://packagist.org/packages/caouecs/laravel-lang), the name is still `caouecs/laravel-lang`

[2020-09-01 07:56] MyPuppet commented on #1319
我也有同样的问题，切换了阿里云和官方源，也尝试过清理缓存。

[2020-09-01 18:22] michabbb commented on #1311
@caouecs  ?????

[2020-09-01 18:47] caouecs commented on #1311
if you want to add it, do a pull request ;)

[2020-09-01 18:49] caouecs commented on #1319
I check

[2020-09-01 18:49] caouecs commented on #1319
in english, please

[2020-09-01 18:49] michabbb commented on #1311
@caouecs and which key-name for "postal code" do you prefer?

[2020-09-01 18:58] caouecs commented on #1311
proposes and the team will choose

[2020-09-01 19:07] michabbb commented on #1311
why should I post first, beside the fact you are the person who clearly has a problem, I asked you twice, but instead of reading you are repeating yourself - what a stupid attitude.... someone wants to help but the only thing you provide is useless time wasting unconstructive Postings... well done, hopefully you feel proud of this nonsense here....

[2020-09-01 19:07] #1311 closed

[2020-09-01 19:52] caouecs commented on #1319
@mortenscheel @MyPuppet Can you test again ?

[2020-09-02 08:01] andrey-helldar commented on #1319
@mortenscheel, the package namespace was changed. Now everything is all right. Check it out.

![image](https://user-images.githubusercontent.com/10347617/91955212-8630f500-ed0b-11ea-99bf-913b0bf979b2.png)

[2020-09-02 08:11] caouecs commented on #1319
sorry for the disagreement, I thought that Packagist would do the migration on its own

[2020-09-02 08:14] andrey-helldar commented on #1319
@caouecs, nothing wrong. When installing the package "caouecs / laravel-lang", packagist gives a warning that it is abandoned. But it still installs.
To use the new namespace, you need to manually update it.

![image](https://user-images.githubusercontent.com/10347617/91956563-7dd9b980-ed0d-11ea-8873-53d3dfb6486d.png)

[2020-09-02 08:22] MyPuppet commented on #1319
Everything is normal now, thank you for your contribution.

[2020-09-02 08:56] mortenscheel commented on #1319
Thanks for the fix!

[2020-09-02 08:57] #1319 closed

[2020-09-02 10:18] andrey-helldar opened #1321 "Communication with translation publisher"
Yesterday @caouecs added a new repository name to [Packagist](https://packagist.org/packages/laravel-lang/lang).
Update source in your packages:

- [x] [Lang Publisher](https://github.com/andrey-helldar/laravel-lang-publisher) by @andrey-helldar
- [x] [LaravelLang](https://github.com/ARCANEDEV/LaravelLang) by @arcanedev-maroc
- [x] [Laravel-lang](https://github.com/overtrue/laravel-lang) by @overt

[2020-09-02 17:02] arcanedev-maroc commented on #1321
It will be available on my major release (Laravel 8) https://github.com/ARCANEDEV/LaravelLang/pull/40

[2020-09-03 00:38] overtrue commented on #1321
https://github.com/overtrue/laravel-lang/commit/21f48d5854ac7c98eb9ee964df2fd67b4638441b

[2020-09-03 05:15] andrey-helldar commented on #1321
@caouecs, Hello! We are ready :-)

[2020-09-03 13:22] #1321 closed

[2020-09-06 01:09] Khuthaily commented on #1296
Thank you, @caouecs. This is a great project. As a native speaker and [college-level professor of Arabic (and linguistics)](https://hs.umt.edu/wlc/arabic/faculty.php?s=Huthaily), I will be glad to take care of (or/and help with) Arabic.

[2020-09-08 23:25] mohamedsabil83 commented on #1296
Good idea @caouecs. that's will keep all translations updated and been more trusted. So, I'll take care of Arabic as always

[2020-09-09 07:11] caouecs commented on #1296
two managers for Arabic ? No problem, if it's ok for you ;)

[2020-09-09 08:12] andrey-helldar commented on #1296
I'll just leave it here 😀

![image](https://user-images.githubusercontent.com/10347617/92572582-4cbd3400-f28d-11ea-946d-532be63fd3d9.png)

[2020-09-09 08:14] andrey-helldar commented on #1296
I think two heads are better than one. If there are any nuances in translation and perception, @Khuthaily and @mohamedsabil83 will be able to discuss this and choose the best option. Do you agree?

[2020-09-09 08:30] mohamedsabil83 commented on #1296
Totally agree with you

[2020-09-09 08:36] caouecs commented on #1296
done ;)

[2020-09-09 10:39] andrey-helldar commented on #1296
@caouecs, can you invite @Khuthaily to [our team](https://github.com/orgs/Laravel-Lang/people)?

[2020-09-09 10:45] caouecs commented on #1296
I did it this morning ( French hour of course )

[2020-09-09 13:03] hugomeruma commented on #1296
@caouecs I noticed that some translations are missing in Jetstream. I would like to know if there are plans for supporting Jetstream and I could help with the dutch translations for it.

[2020-09-09 14:00] andrey-helldar commented on #1296
@hugomeruma,
[Laravel Jetstream](https://github.com/laravel/jetstream) is a preset package. It does not use the "trans" method calls in the code or the "@lang" methods in the Blade templates.
This package connects to your application, where translation files should already be or one of the [translation managers](https://github.com/Laravel-Lang/lang#projects-based-on-this-package) installed.

When

[2020-09-09 14:02] caouecs commented on #1296
+1 for @andrey-helldar comment and I think the project needs a work about localization.

So, for the moment, the best is to do pull requests to laravel-jetstream for localization, and after, I think it will be possible to create a new package for translation of laravel-jetstream

[2020-09-10 06:01] Khuthaily commented on #1296
Perfect; thank you, @caouecs, @mohamedsabil83, and @andrey-helldar.

[2020-09-14 10:10] andrey-helldar commented on #1296
@caouecs, I began to notice the emergence of questions indirectly related to this topic.
I think it can be closed, and new questions can be posted in new issues.

[2020-09-14 19:39] caouecs commented on #1296
ok

[2020-09-14 19:39] #1296 closed

[2020-09-15 19:38] caouecs opened #1334 "Laravel 8"
I updated some informations on this package to include Laravel 8 support.

All is ok for you ?

[2020-09-15 20:26] andrey-helldar commented on #1334
Yep 😊 Thanks!

[2020-09-16 06:45] luisprmat commented on #1334
I'd like translations to Laravel Jetstream (new autentication scaffolding) . I wish to contribute for spanish

[2020-09-16 07:23] andrey-helldar commented on #1334
@luisprmat, see this: https://github.com/Laravel-Lang/lang/issues/1296#issuecomment-689582324

[2020-09-16 23:53] luisprmat commented on #1334
Reviewing **Laravel jetstream** in this moment is supporting translations, most of the translatable texts in each of its components are using the notation `{{ __(' ') }}` ( I have sent some PR about it ). So it is time to think about how we would go about contributing. If a specific package will be created or translations are included in the main `--.json` of the Laravel Lang. I'd like contribute

[2020-09-17 05:23] andrey-helldar commented on #1334
@caouecs, to be honest, I would add Jetstream translations to existing json files.

[2020-09-17 08:09] andrey-helldar commented on #1334
@caouecs, to be honest, I would add Jetstream translations to existing json files.

I think this is correct because Laravel Jetstream is a package for the framework and essentially uses its translation files.
Therefore, I think it is wrong to create separate ones.

[2020-09-17 09:05] andrey-helldar commented on #1334
See #1335

[2020-09-17 18:54] caouecs commented on #1334
@andrey-helldar to be honest, the question is for the team ;)

it's possible to have a poll in Github issue ?

[2020-09-17 19:13] andrey-helldar commented on #1334
@caouecs, I'm not sure about the polls, but the discussions can somehow be turned on. For example, https://github.com/laravel/framework/discussions

[2020-09-17 19:29] caouecs commented on #1334
I just found that : https://github.com/orgs/Laravel-Lang/teams/laravel-lang/discussions
but via the team, not the project

[2020-09-17 20:47] andrey-helldar commented on #1334
maybe there is something [here](https://docs.github.com/en/github/building-a-strong-community/creating-a-team-discussion)?

[2020-09-18 04:58] caouecs commented on #1334
the same thing that I wrote ;)

[2020-09-18 05:01] caouecs commented on #1334
but it's different than your example with laravel framework, I don't know how to activate it on this project

[2020-09-18 06:03] andrey-helldar commented on #1334
I found information that discussions now only work for teams. For repositories, they are still being tested (https://github.com/vercel/vercel/discussions/3874#discussioncomment-2627)
I can assume that Taylor turned them on at a personal request.

[2020-09-18 07:10] luisprmat commented on #1334
Regardless of the organization that will be given to this project, here is my humble contribution to jetstream translations for the Spanish language. See [#1336 ](https://github.com/Laravel-Lang/lang/pull/1336)

[2020-09-18 07:49] andrey-helldar commented on #1334
I added a discussion to the team: https://github.com/orgs/Laravel-Lang/teams/laravel-lang/discussions

[2020-09-18 09:46] DA40 opened #1337 "Abandoned?"
While doing a composer update today on a Laravel 7 application I got this message:

Package caouecs/laravel-lang is abandoned, you should avoid using it. Use https://github.com/Laravel-Lang/lang instead.

Is that true?

[2020-09-18 10:51] cotiga commented on #1337
no
It's just the name that have changed

[2020-09-18 11:54] andrey-helldar commented on #1337
@DA40, the package used to be in the @caouecs namespace, but recently he moved it to the organization.

All you have to do is change the package name in the composer.lock file or use one of the three [translation managers](https://github.com/Laravel-Lang/lang#projects-based-on-this-package). For example, [andrey-helldar/laravel-lang-publisher](https://github.com/andrey-helldar/laravel-lang-publish

[2020-09-18 14:42] DA40 commented on #1337
Thanks guys.  It's a dependency on overtrue/laravel-lang which I resolved by updating to its latest release.

[2020-09-18 14:42] #1337 closed

[2020-09-18 18:12] dbasechhetri commented on #1334
Adding to existing is easy and not confusing than Separate files

[2020-09-19 18:02] andrey-helldar commented on #1334
I think this question can be closed.

[2020-09-20 00:44] LukaLatkovic commented on #1334
I agree, it is just a package for Laravel so it should be in same json file, but maybe there will be more lines for the Jetstream and thus a special file will be made just for it, but that will be seen in the future

[2020-09-20 10:36] andrey-helldar commented on #1334
I think we have solved the Laravel 8 question here, and the new posts are about Laravel Jetstream. I created a [discussion](https://github.com/Laravel-Lang/lang/discussions/1344) on this subject.

[2020-09-20 10:36] #1334 closed

[2020-09-21 18:21] andrey-helldar opened #1347 "Test"

[2020-09-21 18:22] #1347 closed

[2020-09-21 18:33] andrey-helldar commented on #1347
/polls Option1 'Option 2' "Option 3"

[2020-09-21 18:50] andrey-helldar commented on #1347
/polls Option1 'Option 2' "Option 3"

[2020-09-21 18:51] andrey-helldar opened #1348 "sorry, but test poll :)"
/polls Option1 'Option 2' "Option 3"

[2020-09-21 18:51] #1348 closed

[2020-09-21 18:51] andrey-helldar commented on #1348
Doesn't work 😕

[2020-09-23 18:17] andrey-helldar opened #1355 "Update todo.md"
@caouecs, can you update the todo.md file after you accept the PR?

[2020-09-23 18:19] caouecs commented on #1355
Yes, I finish PR before ;)

[2020-09-23 18:20] andrey-helldar commented on #1355
Yes of course)

I did not generate the file to avoid merge conflicts.

[2020-09-23 18:20] #1355 closed

[2020-09-23 18:25] caouecs commented on #1355
done ;)

[2020-09-23 18:29] andrey-helldar commented on #1355
Thanks!

[2020-09-23 19:15] andrey-helldar opened #1357 "Translate missing keys for few languages"
| | what | who |
| :---: | :---: | :--- |
| #1339 | [ar](https://github.com/Laravel-Lang/lang/blob/master/todo.md#ar) | @mohamedsabil83, @Khuthaily (see also #1339) |
| | [da](https://github.com/Laravel-Lang/lang/blob/master/todo.md#da) | @jensstigaard |
| | [de](https://github.com/Laravel-Lang/lang/blob/master/todo.md#de) | @WhereIsLucas |
| | [fr](https://github.com/Laravel-Lang/lang/blob/master

[2020-09-23 20:36] jorgercosta commented on #1357
[pt] done  #1358, cheers!

[2020-09-23 21:45] mohamedsabil83 commented on #1357
[ar] done #1339 :coffee:

[2020-09-24 11:20] xorock opened #1359 "Laravel 8 - missing paginator translations (tailwind)"
Hello,
In Laravel 8 Tailwind paginator has new translation keys:

[code]

I don't see translation in any language.

[2020-09-24 11:53] caouecs commented on #1359
it's very bad for translations... not good for right to left language, and not adaptation for results if we have just one result...

'{0} No item|[1]  Showing :firstItem to :lastItem of :totalItems result |[2,*] Showing :firstItem to :lastItem of :totalItems results'

[2020-09-24 11:54] caouecs commented on #1359
do you have source of this code please ?

[2020-09-24 12:39] mohamedsabil83 commented on #1359
@caouecs he means this https://github.com/illuminate/pagination/blob/c5da788f8c7cf7c24a43d60b9bcf0b992457c30c/resources/views/tailwind.blade.php#L28-L34

I advice to add it

[2020-09-24 13:14] andrey-helldar commented on #1359
I can see other keys accessed through the pagination (https://github.com/illuminate/pagination/blob/c5da788f8c7cf7c24a43d60b9bcf0b992457c30c/resources/views/tailwind.blade.php#L6).

I will try to send PR to the project.

[2020-09-24 13:17] luisprmat commented on #1359
I had sent a PR [#1361 ](https://github.com/Laravel-Lang/lang/pull/1361)

[2020-09-24 13:19] andrey-helldar commented on #1359
See https://github.com/illuminate/pagination/blob/c5da788f8c7cf7c24a43d60b9bcf0b992457c30c/resources/views/tailwind.blade.php#L74

![image](https://user-images.githubusercontent.com/10347617/94150343-b0488380-fe81-11ea-9842-e4dca0c44a46.png)

[2020-09-24 13:27] luisprmat commented on #1359
@andrey-helldar Added **"Go to page :page"** to PR, the others translation seem to be

[2020-09-24 13:42] luisprmat commented on #1359
@caouecs (https://github.com/Laravel-Lang/lang/issues/1359#issuecomment-698295606) If there is only one result, the pagination component is not displayed by default. But it is convenient to add a PR to Laravel to improve the translation support for right-left languages

[2020-09-24 13:45] andrey-helldar commented on #1359
I sent a PRs: https://github.com/laravel/framework/pull/34518 and https://github.com/laravel/laravel/pull/5426

[2020-09-24 13:58] andrey-helldar commented on #1359
![image](https://user-images.githubusercontent.com/10347617/94155061-34513a00-fe87-11ea-8add-b527f18cd692.png)

[2020-09-24 13:59] mohamedsabil83 commented on #1359
My language is RTL (Arabic) and I can say that there is no need to make any improvements to the pagination

[2020-09-24 14:06] luisprmat commented on #1359
@mohamedsabil83 Those are good news!

[2020-09-24 14:19] andrey-helldar commented on #1359
There is a problem with the Russian language.

The full phrase in heather sounds like this:
`Showing 4 to 8 of 32 results`

In Russian, it will be correct:
`Показано с 4 по 8 из 32 результатов`

In the current scheme, the translation will be incorrect.

There are two solutions:
1. `Показано 4 - 8 из 32 результатов`
2.
[code]

The second option is bad because the word "showing" can be used elsewher

[2020-09-24 14:42] luisprmat commented on #1359
@andrey-helldar, in Spanish it happens exactly the same, so I applied a solution very similar to yours. I think that as long as these words ("Showing", "to", "of", ... ) are only used in the context of pagination there will be no problem. The translation does not have to be so literal, the idea is to keep the coherence of the phrase shown in this specific context.
If there are changes in the futur

[2020-09-24 14:44] andrey-helldar commented on #1359
Exactly. Now I propose to do so, and then we'll see.

[2020-09-24 15:35] luisprmat commented on #1359
At the moment it would only be missing for @caouecs to update the `todo.md` file to be able to close this issue! (And of course complete the translations of the other languages)

[2020-09-24 17:04] andrey-helldar commented on #1359
![S00924-200310](https://user-images.githubusercontent.com/10347617/94176715-2b6d6200-fea1-11ea-9501-dc702b4c98bf.jpg)

[2020-09-24 19:59] caouecs commented on #1359
If they don't want to update the code, we can propose it in a package

[2020-09-24 20:01] andrey-helldar commented on #1359
So we sent some PRs)

[2020-09-25 14:16] luisprmat commented on #1357
I would say that there are many languages ​​missing to translate mainly the `.json`

[2020-09-25 14:19] andrey-helldar commented on #1357
I agree. But we have no [referents](https://github.com/Laravel-Lang/lang/blob/master/referents.md) for other languages :(

[2020-09-28 05:47] xorock commented on #1359
Just found another issue in base template: https://github.com/illuminate/pagination/blob/c5da788f8c7cf7c24a43d60b9bcf0b992457c30c/resources/views/tailwind.blade.php#L2
aria-label is not translated.

[2020-09-28 13:15] andrey-helldar commented on #1359
Thanks! I sent a PR: https://github.com/laravel/framework/pull/34568

[2020-09-28 13:29] andrey-helldar commented on #1359
PR was merged: https://github.com/laravel/framework/pull/34568 😊

My PR for this repo: https://github.com/Laravel-Lang/lang/pull/1368

[2020-09-28 19:00] andrey-helldar commented on #1359
The problem from the first message has been resolved, so I close the issue.

[2020-09-28 19:00] #1359 closed

[2020-09-28 19:01] #1357 closed

[2020-09-30 13:42] olsza opened #1377 "the 'ToDo' generator ignores the additional information"
The "ToDo" generator does not take into account whether there are translated rules that have more versions, e.g. "size" has additional information such as: "numeric", "file", "string", "array", which are e.g. in the validation.php file, i.e. like any of the additional information, not have been translated, this information is not displayed in doto.md.
[
![Zrzut ekranu z 2020-09-30 15-44-36](https:

[2020-10-02 10:53] olsza commented on #1377
you can assign me to this task, which was reported by BUG himself, I will take care of in the weekend or next week.
I would assign to this report myself, but I don't have this option :/

[2020-10-02 18:31] jmucoder opened #1384 "Lrv"
Ssd

[2020-10-02 20:05] luisprmat commented on #1377
Have you thought about using automated tests on this package with **PHPUnit**? It would be useful to test the actions of `script/todo.php` and debug bugs preventing them from appearing again in the future.

[2020-10-02 20:10] luisprmat commented on #1384
What? can i assume that this a an error?

[2020-10-03 06:19] jmucoder commented on #1377
@if($errors->any())
	@foreach ($errors->all()as $error)

	<div class="alert alert-danger" role="alert">
     {{$error}}
</div>

	@endforeach

	@endif

[2020-10-03 06:19] jmucoder commented on #1377
where is error

[2020-10-03 14:29] #1384 closed

[2020-10-03 14:35] caouecs commented on #1377
@jmucoder Go to [Laravel](https://laravel.com/) for your question ? Thank you

[2020-10-04 07:48] thewebartisan7 opened #1391 "Missing english JSON and Fortify untranslatable status"
Why is missing english JSON? If someone want to change the default phrases in english, can be useful to have this already in JSON.

I would like also know how you manage translation of Fortify response since they are not translated when response is not JSON? I propose a commit but was not accepted, here https://github.com/laravel/fortify/pull/101/files

[2020-10-04 08:43] caouecs commented on #1391
English json: https://github.com/Laravel-Lang/lang/blob/master/script/en/en.json

And for Fortify, I don't know, sorry

[2020-10-04 10:23] andrey-helldar commented on #1391
@thewebartisan7, Fortify is a package installed into a Laravel application.
For translation files to work, the text must be called using the `__()` method, otherwise it will not be translated.
Your PR was not accepted, which means these keys will not be translated by the framework itself.

[2020-10-04 11:10] thewebartisan7 commented on #1391
@caouecs thanks, I didn't see it.

@andrey-helldar I know that Fortify is a package for laravel, and I know how to translate using method __().
My PR was not accepted only because is a breaking change.

I explain the problem in my issue here https://github.com/laravel/fortify/issues/100.
Shortly, the problem is that phrases are not like JSON file phrases, but like 'verification-link-sent', and als

[2020-10-04 11:15] thewebartisan7 commented on #1391
Can you add this "label" inside JSON file so that it get translated by community here? Because I am working on a package, and I would like to use only standard solution, not some custom solution like this proposed by Taylor?

[2020-10-04 11:44] andrey-helldar commented on #1391
This package contains only those translation keys that are available in official Laravel applications.

The solution in your case is to add the necessary translation keys to the `<lang>.json` file yourself.

You can also use a translation manager such as [andrey-helldar/laravel-lang-publisher](https://github.com/andrey-helldar/laravel-lang-publisher). It only updates our keys, which you added manu

[2020-10-04 11:44] #1391 closed

[2020-10-06 11:27] olsza commented on #1377
I am sending a projection of the solution, how is the translation extended, it is a dot added, but I was wondering whether to give e.g. "->" instead of a dot
![Zrzut ekranu z 2020-10-06 13-24-57](https://user-images.githubusercontent.com/12556170/95196001-adca2000-07d7-11eb-8976-62770c98457a.png)

[2020-10-06 15:22] luisprmat commented on #1377
The dot notation is used by Laravel to access the sub-elements of an array, so that would be fine.

[2020-10-07 07:42] olsza commented on #1377
I just suggested Laravel with a dot, but I thought about "->" to make it more readable.
But I leave as it is - a dot ;)

[2020-10-07 12:36] caouecs commented on #1377
+1 for dot

[2020-10-07 19:02] andrey-helldar commented on #1377
+1.

[2020-10-08 01:24] luisprmat commented on #1377
+1 for dot

[2020-10-08 10:47] olsza commented on #1377
ok new branch and new Pull requests #1406
@andrey-helldar the code is the same without any corrections

[2020-10-09 09:23] #1377 closed

[2020-11-24 19:37] milose commented on #1269
If you list the php `Intl` locales, we have a specific list of locales and the naming should be followed.

[code]

Meaning that `sr_Latin`, `me`, etc; locale folders you have are invalid.

Note, I am from Montenegro and I use `sr_Latn_ME` nomenclature, when I develop.

[2020-11-24 21:18] andrey-helldar commented on #1269
@caouecs, Since the `ISO 15897:2011` standard [does not regulate](https://github.com/Laravel-Lang/lang/issues/1269#issuecomment-657100855) the naming of these localizations, I think @milose's proposal is reasonable.

[2020-11-25 20:23] caouecs commented on #1269
no problem for me

[2020-11-25 22:27] andrey-helldar commented on #1269
I created a PR https://github.com/Laravel-Lang/lang/pull/1453, but @LukaLatkovic must review, since he is referent for the `sr_*` languages.

[2020-11-26 13:22] LukaLatkovic commented on #1269
So, that means that (me) [https://github.com/Laravel-Lang/lang/tree/master/src/me] folder should be renamed to sr_Latn_ME and current sr_Latin and sr_Cyrillic to sr_Latn_RS and sr_Cyrl_RS in that order

[2020-11-26 15:27] LukaLatkovic commented on #1269
This proposal is done by Unicode standard(International Components for Unicode), so maybe we can do locales based on that standard [List of all locales by Unicode](https://icu4c-demos.unicode.org/icu-bin/locexp), [Simple search](https://intl.rmcreative.ru/)

[2020-11-26 22:57] milose commented on #1269
We are web developers here and this is a Laravel oriented package. With this I mean to say that the directory of the locale should be named in a way so it can be consumed `app()->getLocale()` method.

Laravel workflow is:

1. you set the `'locale'` in `app.php`
2. you use the `<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">` to set the language contained in your HTML output (importan

[2020-11-27 06:22] andrey-helldar commented on #1269
Taylor introduced the ISO 15897:2011 standard into the framework and I think we don't need to violate it.

If proposals for adjustments do not contradict him, then they can be considered.

[2020-11-27 17:49] milose commented on #1269
Sauce, please?

[2020-11-27 18:31] andrey-helldar commented on #1269
You mean [proof](https://laravel.com/docs/8.x/localization#introduction)?

![image](https://user-images.githubusercontent.com/10347617/100476917-edd2c280-30f7-11eb-8c2b-f3605fb75d83.png)

[2020-11-30 07:52] milose commented on #1269
Thanks @andrey-helldar I missed that.

[2020-12-04 10:11] andrey-helldar commented on #1269
@milose, a few days ago, we [released](https://github.com/Laravel-Lang/lang/releases/tag/8.0.0) a new major version of the package taking into account these changes.
You can independently monitor the update of files in your project or use a manager. For example, [this one](https://github.com/andrey-helldar/laravel-lang-publisher).

[2020-12-04 12:47] caouecs commented on #1269
for example... ;)

[2021-02-06 13:09] Juraj-Kubek opened #1525 "sk.json contains 2x line "Forgot your password?""

[2021-02-06 20:38] caouecs commented on #1525
No, there is difference with uppercase :)

"Forgot your password?": "Forgot your password?",
"Forgot Your Password?": "Zabudli ste heslo?",

[2021-02-06 20:38] #1525 closed

[2021-02-07 19:11] Juraj-Kubek commented on #1525
OK,
if they are two shapes,
then the correct translation is:

"Forgot your password?": "*Zabudli ste heslo?*",
"Forgot Your Password?": "Zabudli ste heslo?",

Juraj

so 6. 2. 2021 o 21:39 Fred Delrieu <notifications@github.com> napísal(a):

--
S pozdravom,
Ing. Juraj *Kubek*
0908 255 655

[2021-02-07 19:13] Juraj-Kubek commented on #1525
or better:

"Forgot your password?": "*Zabudol si heslo?*",
"Forgot Your Password?": "*Zabudli ste heslo?*",

Juraj

ne 7. 2. 2021 o 20:11 Juraj Kubek <juraj.kubek@gmail.com> napísal(a):

--
S pozdravom,
Ing. Juraj *Kubek*
0908 255 655

[2021-03-23 22:16] caouecs opened #1563 "[en] tag * and - in json file"
Hello,
it's normal ?

https://github.com/Laravel-Lang/lang/blob/1626917342f3ce20fcf95c376bce8b5441553bb1/script/en/en.json#L2

[2021-03-23 22:32] caouecs commented on #1563
I deleted in en.json

[2021-03-24 08:15] olsza commented on #1563
same last line that is ```"-": "-"```, what is this for ??

[2021-03-25 10:20] andrey-helldar commented on #1563
From a logical point of view, this is not normal.

But from Taylor's point of view: https://github.com/Laravel-Lang/lang/discussions/1547#discussioncomment-474033

![image](https://user-images.githubusercontent.com/10347617/112457543-edc49580-8d6c-11eb-9a16-9d3a567934dd.png)

[2021-03-25 10:23] andrey-helldar commented on #1563
Since there were a lot of new keys, I didn't think about placing them.

Generally yes, I agree that these keys have been removed from us. They obviously don't need a translation 😂

[2021-03-25 13:52] #1563 closed

[2021-04-02 12:34] caouecs opened #1589 "Todo Script : problem of comparaison"
- Laravel-Lang Version: 8.1.0
- PHP Version: n/a => Github Actions

### Description:

For the Todo script, in French ( but I think it's same for other languages ), it has problem with accent and spaces.

For it, "Réunion" and "Reunion" are same, like "Aland Islands" and "Åland Islands"

We have the same problem with : "Lao People's Democratic Republic" and "Laos"

https://github.com/Laravel-Lang/l

[2021-04-02 12:49] andrey-helldar commented on #1589
Got it. I will solve this problem.

[2021-04-02 13:54] andrey-helldar commented on #1589
I submitted a PR. Added check strict.

[2021-04-02 14:06] #1589 closed

[2021-04-02 14:21] andrey-helldar commented on #1589
@caouecs, if I understood correctly, the problem was typing - it was not strict:

[code]

I replaced the check with strict:

[code]

Currently, the key translation for [Iran](https://github.com/Laravel-Lang/lang/blob/master/script/en/en.json#L254) is included in the [docs/statuses/fr.md](https://github.com/Laravel-Lang/lang/blob/master/docs/statuses/fr.md) file because it is not excluded from proc

[2021-04-24 09:06] caouecs opened #1714 "Todo script"
- Laravel-Lang Version: 9.0.1
- PHP Version: 8.0.1

### Description:

The todo script doesn't compare tags in sub-arrays.

[2021-04-24 21:51] andrey-helldar commented on #1714
Accepted. I'll do it next week.

[2021-04-25 03:06] luisprmat opened #1719 "It doesn't possible to add new tags in source/en.json"
- Laravel-Lang Version: 9.1.0
- PHP Version: 8.0.3

### Description:
It doesn't possible to add new tags in `source/en.json`. Tests don't pass and don't allow to do pull request.
Recently i added new translations for the new `Password` validation rule class and github actions generate errors in test

### Steps To Reproduce:
- Add a commit modifying `source/en.json`.
- Push and wait for running Git

[2021-04-25 07:57] caouecs commented on #1719
There is error, but I was able to accept the pull request

[2021-04-25 18:54] andrey-helldar commented on #1719
I can check tomorrow

[2021-04-26 09:17] andrey-helldar commented on #1719
I remembered why the test was giving an error.

You added new keys to the `source/en.json` file, but did not add them to all languages.

In this case, we just accept the PR without paying attention to phpunit.

When the PR is accepted, an automatic script is launched that will put down all the necessary keys (`php app/keys.php`)

Therefore, when adding keys to any file from the `source` folder, ph

[2021-04-26 09:17] #1719 closed

[2021-04-28 17:34] caouecs commented on #1714
no problem ;)

[2021-04-29 19:02] vanyabrovary opened #1734 "Failed to clone https://github.com/caouecs/lang.git"
[code]
Can you help me please?
What can i do?

[2021-04-29 19:24] vanyabrovary commented on #1734
Works for me

 "laravel-lang/lang": "~5.0",

https://github.com/Laravel-Lang/lang/blob/master/docs/installation/composer.md

[2021-04-30 10:28] caouecs commented on #1734
You are welcome

[2021-04-30 11:34] MoNSTRiKcom opened #1735 "Problem with installation"
"require": {
        "php": "^7.3|^8.0",
        "bkwld/laravel-pug": "^2.2",
        "guzzlehttp/guzzle": "^7.0.1",
        "fideloper/proxy": "^4.0",
        "laravel/framework": "^8.0",
        "laravel/passport": "^10.4",
        "laravel/tinker": "^2.0",
        "laravel/ui": "^3.0",
        "oscarafdev/migrations-generator": "2.0.13",
        "tcg/voyager": "^1.3"
    },
    "require-dev": {

[2021-04-30 12:37] #1735 closed

[2021-05-06 22:39] #1714 closed

[2021-05-26 03:54] luisprmat opened #1761 "Some translations have been lost in the new version (10.0)"
- Laravel-Lang Version: 10.0.1
- PHP Version: 8.0.3

### Description:
Using the translations in a new project I was able to observe that some translations that were already correct **have been lost**.

![Captura](https://user-images.githubusercontent.com/9275870/119599372-7e8a1280-bdaa-11eb-8390-36d8e807d5e7.PNG)

Some of them are:

- [Reset Password Notification](https://github.com/laravel/framew

[2021-05-26 06:35] caouecs commented on #1761
I will do a check too

[2021-05-26 07:56] andrey-helldar commented on #1761
I thought it seemed to me :-)

In the near future I will check and will check the keys from the previous version.

[2021-05-26 18:21] andrey-helldar commented on #1761
@luisprmat, @caouecs, I know why this happened:

**v9.1.1:**
![image](https://user-images.githubusercontent.com/10347617/119710070-9a52ee80-be66-11eb-9c65-ad85c4d97891.png)

**v10.0.1:**
![image](https://user-images.githubusercontent.com/10347617/119710159-b6ef2680-be66-11eb-8fe4-41f604672696.png)

The locale.json file splitting script works like this:
1. The contents of the `locale.json` file are

[2021-05-26 18:31] andrey-helldar commented on #1761
I know how to solve this problem.

A little later we will create a PR.

[2021-05-26 18:40] andrey-helldar commented on #1761
Hm...

![image](https://user-images.githubusercontent.com/10347617/119713855-db4d0200-be6a-11eb-9a6c-f4d7be8817df.png)

![image](https://user-images.githubusercontent.com/10347617/119713911-e99b1e00-be6a-11eb-911a-e75d65e6426e.png)

[2021-05-26 18:47] andrey-helldar commented on #1761
For example, the `Oh no` key was added in version 4.0 and it is not known which package it belongs to, since it was in version 4.0 that the json file was first published.

![image](https://user-images.githubusercontent.com/10347617/119714802-f2402400-be6b-11eb-83bb-97bca34e0775.png)

![image](https://user-images.githubusercontent.com/10347617/119714817-f66c4180-be6b-11eb-995b-2126860f6e0d.png)

[2021-05-26 18:53] andrey-helldar commented on #1761
Laravel 5.7: https://github.com/Laravel-Lang/lang/commit/8a4775478a0431446b56fef0c6d6d606aa61b848

![image](https://user-images.githubusercontent.com/10347617/119715501-be193300-be6c-11eb-8ba7-53dbf3746441.png)

Laravel 8 does not contain these keys.

@caouecs, what do we do?

[2021-05-26 18:56] andrey-helldar commented on #1761
I suggest the following option: in this repository, we will only store the most recent state of the translation keys.

If someone needs to use translations for older versions of Laravel, they can either install the old dependency of that package or use translation managers, for example: [compatibility table](https://andrey-helldar.github.io/laravel-lang-publisher/compatibility.html).

[2021-05-26 19:15] luisprmat commented on #1761
`Oh no` appears in [this view](https://github.com/laravel/framework/blob/8.x/src/Illuminate/Foundation/Exceptions/views/illustrated-layout.blade.php#L464) in Laravel 8.

[2021-05-26 19:16] andrey-helldar commented on #1761
Yes, I have already found and deleted my unnecessary messages 😅

[2021-05-26 19:57] andrey-helldar commented on #1761
Lol https://github.com/laravel/framework/blob/8.x/src/Illuminate/Notifications/resources/views/email.blade.php#L53-L59 )))

![image](https://user-images.githubusercontent.com/10347617/119723134-cc1f8180-be75-11eb-9132-1c719e5c0b70.png)

[2021-05-26 20:08] andrey-helldar commented on #1761
I will do this:

1. Automatic search found translation keys;
2. Next, I will manually look at the framework files and find multi-line keys;
3. I will add these keys to the translation file;
4. Disable automatic search for keys in the framework;
5. I will copy the files from version 9;
6. Run a script that will find the translated keys for each localization from the old files and save them to the n

[2021-05-26 20:09] andrey-helldar commented on #1761
Current state after searching for keys in `laravel/framework` project:

![image](https://user-images.githubusercontent.com/10347617/119724349-47356780-be77-11eb-8b96-e4d04cd4f3f1.png)

[2021-05-26 21:08] luisprmat commented on #1761
Are they not very few?  About these?

- [Toggle navigation](https://github.com/laravel/framework/blob/8.x/src/Illuminate/Auth/Console/stubs/make/views/layouts/app.stub#L29)
- [Login](https://github.com/laravel/framework/blob/8.x/src/Illuminate/Auth/Console/stubs/make/views/layouts/app.stub#L44)
- [Register](https://github.com/laravel/framework/blob/8.x/src/Illuminate/Auth/Console/stubs/make/views/

[2021-05-26 21:15] andrey-helldar commented on #1761
@luisprmat, should not.

The problem is that we have added translation keys nova, jetstream, fortify and others to one file.

From a code point of view, after splitting a file, it is not known which keys should remain in the main file.

This is precisely the current problem.

The screenshot above is what the parser was able to find.

This is why I will manually search for other translation keys in

[2021-05-26 22:09] ottenso commented on #1761
Hey @andrey-helldar,

did I understand correctly that the error occurred only when splitting the files (from V9 to V10) and when adding new packages that also have duplicates to other packages, this error will not occur in the future? When adding new packages, the error with duplicates should not occur.

Wouldn't it be easier to optimize the splitting script (applied to V9) and apply it again to V

[2021-05-26 22:14] andrey-helldar commented on #1761
@ottenso, yes it is a separation problem. I'm working on it.

[2021-05-27 06:54] andrey-helldar commented on #1761
The easiest way is to return the state of the files before we added the Nova and Jetstream translations to it.

[2021-06-02 08:08] #1761 closed

[2021-06-07 09:41] ItsLhoudini commented on #1734
Same problem here. L5.8 installation.

composer require laravel-lang/lang:~4.0

Installing dependencies from lock file (including require-dev)
Package operations: 2 installs, 42 updates, 0 removals
  - Downloading caouecs/laravel-lang (4.0.11)
 0/1 [>---------------------------]   0%    Failed to download caouecs/laravel-lang from dist: The "https://api.github.com/repos/caouecs/lang/zipball/134e1c

[2021-07-24 10:18] andrey-helldar opened #1810 "Excludes files update error: not strict comparison"
![Screenshot_2021-07-24-13-12-29-289_com android chrome](https://user-images.githubusercontent.com/10347617/126865437-59867af4-85f7-493b-a631-062435032ea8.jpg)

![Screenshot_2021-07-24-13-14-14-712_com android chrome](https://user-images.githubusercontent.com/10347617/126865441-741def35-591f-4b49-8946-2bdad10a4dbf.jpg)

![Screenshot_2021-07-24-13-14-47-451_com android chrome](https://user-images.g

[2021-09-14 05:10] luisprmat opened #1848 "Parser deletes some existing tags for Laravel Jetstream"
- Laravel-Lang Version: 10.1.6
- PHP Version: 8.0.3

### Description:
In previous pull requests we add translations for all tags of laravel jetstream up to that moment. Among them (PR [#1393](https://github.com/Laravel-Lang/lang/pull/1393) and [#1394](https://github.com/Laravel-Lang/lang/pull/1394)) were the following that correspond to the file [`JetstreamWithTeamsServiceProvider`](https://github

[2021-09-14 22:02] andrey-helldar commented on #1848
This is problem. Dynamic keys can be absolutely anything, so the 100% regex will not work correctly.

I suggest a solution: add a new file, for example, `jetstream-ext.json` and save such keys to it.

[2021-09-15 01:14] luisprmat commented on #1848
Or modify the parser for not deleting the existing keys but merge with new found keys! More difficult? is there any disadvantage?

[2021-09-15 07:06] andrey-helldar commented on #1848
This is easy, but unnecessary.

We made automatic deletion on purpose to get rid of old keys.

[2021-09-15 22:52] luisprmat commented on #1848
The important issue is to provide a solution that allows adding and keeping those keys that do not match to any regular expression and that they can be merged with all `[locale].json` to be translated.

[2021-09-16 12:21] andrey-helldar commented on #1848
If I understand you correctly, then I propose to save the current structure with the addition of new files:

![image](https://user-images.githubusercontent.com/10347617/133611127-9ff8aaf6-1e30-4a03-a16c-c671ae2fb8bf.png)

[2021-09-16 12:56] luisprmat commented on #1848
It seems perfect, and leave open the possibility of whether in the future there are extras also for other packages to be able to add them.
Remember that for the base files of the framework (although I think we are not doing automatic searches for it) there are also keys that do not match regular expressions such as those corresponding to the new password rule.

[2021-09-24 15:27] andrey-helldar commented on #1848
@luisprmat, see my #1859 PR 😎

[2021-09-24 15:32] andrey-helldar commented on #1810
I did not find this word in the application.
For now, I close the problem. If suddenly it appears again, I will solve it.

[2021-09-24 15:32] #1810 closed

[2021-09-25 02:19] luisprmat commented on #1848
Reviewed and approved!

[2021-09-27 13:37] #1848 closed

[2021-10-01 10:43] jozeflambrecht opened #1868 "Accents encoded in livewire components (Jetstream)"
- Laravel-Lang Version: 10.1.7
- PHP Version: 7.4.4

### Description:
When I use Jetstream (livewire) and go the add Teams page, this is what I see:
![image](https://user-images.githubusercontent.com/11506957/135607243-8f2b3e3c-7a9d-4f1d-8306-ba4d3c8a9e59.png)

On the left side, the accents are ok. But on the livewire component, they are encoded.

### Steps To Reproduce:
Install Laravel, Jetstream

[2021-10-01 11:29] caouecs commented on #1868
Ce ne sont pas les accents, mais l'apostrophe qui pose problème, car *équipe* est bien écrit. Il faudrait voir si le problème ne vient pas des apostrophes Windows

[2021-10-01 11:54] jozeflambrecht commented on #1868
It could be the windows environment, but why is _équipe_ correctly on the left panel?

[2021-10-03 02:42] luisprmat commented on #1868
It looks more like a problem of how Laravel render the properties passed to a component.

For example, See [resources/views/teams/create-team-form.blade.php](https://github.com/laravel/jetstream/blob/2.x/stubs/livewire/resources/views/teams/create-team-form.blade.php#L2-L4).
The `{{ __('Team Details') }}` translation is inside a slot of the component and there aren't problems, but if you see the [

[2021-10-06 09:22] Akecel opened #1869 "Translations of [fr.json] cannot be found"
- Laravel-Lang Version: 10.1
- PHP Version: 8.0

### Description:

I just started a new Laravel project with Jetstream.
So I got the `fr` folder from the package that I integrated in the folder `resources/lang`

I then modified my `config/app.php` file :
[code]

At this stage the translations should be functional, however, I have translated only the php files (auth, validation, ...) but not the on

[2021-10-06 17:11] luisprmat commented on #1869
You must put the file `fr.json` out of the folder `fr`.

if you copied the folder `fr` in `resources/lang` move the file `fr.json` from `resources/lang/fr/fr.json` to `resources/lang/fr.json`.

I hope that this works!

[2021-10-12 23:15] andrey-helldar commented on #1868
The `{{ }}` blade operator encodes special characters in unicode.

This behavior is inherent in Jetstream.

To prevent the text from being converted to unicode, need to output it in raw view:

[code]

You can offer PR to the Jetstream project by describing this issue. Or just let them know about this issue when working with non-English localizations.

[2021-10-14 02:49] hoodpear opened #1876 "Arabic lang"
HI!
I've checked the Arabic lang I found some missing translations one of them

- We have emailed your password reset link!

[2021-10-16 02:16] hoodpear commented on #1876
In fact they are doing well in PHP files but missing in JSON.

[2022-01-15 14:24] FabienArr opened #1944 "Class "LaravelLang\Publisher\Concerns\BaseServiceProvider" not found"
Hello,

I just do a composer update and now i have this problem :
U:\xampp\htdocs\extranetfvbd>composer update
Loading composer repositories with package information
Updating dependencies
Nothing to modify in lock file
Installing dependencies from lock file (including require-dev)
Nothing to install, update or remove
Package swiftmailer/swiftmailer is abandoned, you should avoid using it. Use symf

[2022-01-15 16:26] andrey-helldar commented on #1944
What version of `laravel-lang/lang` are you using?

[2022-01-15 16:28] andrey-helldar commented on #1944
@caouecs
![Screenshot_2022-01-15-19-27-21-580_com android chrome](https://user-images.githubusercontent.com/10347617/149629515-55b9c7ca-ebc8-4949-9b3c-e21cc3ffb717.jpg)
![Screenshot_2022-01-15-19-27-49-336_com android chrome](https://user-images.githubusercontent.com/10347617/149629516-82aa324c-6863-4841-bc69-3f57098a9074.jpg)

[2022-01-15 16:37] andrey-helldar commented on #1944
I created a [PR](https://github.com/Laravel-Lang/lang/pull/1945) to solve this problem when you are not using a [`publisher`](https://github.com/Laravel-Lang/publisher).

We will release a patch soon.

[2022-01-15 16:58] andrey-helldar commented on #1944
@FabienArr, as a quick fix you can install a [`publisher`](https://github.com/Laravel-Lang/publisher) (recommended).

[2022-01-15 20:03] FabienArr commented on #1944
Thanks, It work but now i have this 👍
Package swiftmailer/swiftmailer is abandoned, you should avoid using it. Use symfony/mailer instead.
Package fzaninotto/faker is abandoned, you should avoid using it. No replacement was suggested.
Generating optimized autoload files
Warning: Ambiguous class resolution, "LaravelLang\Lang\Plugins\Breeze" was found 2x: in "U:/xampp/htdocs/extranetfvbd/vendor/lara

[2022-01-15 20:47] andrey-helldar commented on #1944
@FabienArr, oh, sorry. My bad :)

Released: [`v11.2.0`](https://github.com/Laravel-Lang/publisher/releases/tag/v11.2.0).

Just run the `composer update`

[2022-01-16 08:15] robbielove commented on #1944
The install instructions suggest to require as a dev dependency but I found this did not work.
[code]

[2022-01-16 10:06] andrey-helldar commented on #1944
What version of `laravel-lang/lang` are you using?

[2022-01-16 10:10] andrey-helldar commented on #1944
We have temporarily removed the publication of version 10.2. Run the `composer update` to revert to version 10.1.12.

[2022-01-16 10:14] caouecs commented on #1944
Sorry for the 10.2 version, it's my fault

[2022-01-16 10:15] andrey-helldar commented on #1944
My too 😔

[2022-01-16 11:19] andrey-helldar commented on #1944
We fixed this bug and re-released [`10.2.0`](https://github.com/Laravel-Lang/lang/releases/tag/10.2.0).

Just run the `composer update` to update your dependencies.

[2022-01-16 11:19] #1944 closed

[2022-01-20 13:17] madman-81 opened #1966 "en.json appears to have unused items or they might be part of a package"
- Laravel-Lang Version: Master
- PHP Version: n/a

### Description:
en.json has a few lines that I can't find in laravel/framework:

    "The :attribute must contain at least one letter.",
    "The :attribute must contain at least one number.",
    "The :attribute must contain at least one symbol.",
    "The :attribute must contain at least one uppercase and one lowercase letter.",
    "The given

[2022-01-20 13:22] andrey-helldar commented on #1966
These are the password validation messages in Laravel: https://github.com/laravel/framework/blob/8.x/src/Illuminate/Validation/Rules/Password.php

[2022-01-20 13:22] #1966 closed

[2022-01-24 12:47] madman-81 opened #1995 "The language specific set of attributes is missing items"
- Laravel-Lang Version: 10.3
- PHP Version: 7.4

### Description:
The list of attributes in `source\validation-attributes.php` and `locales\{lang}\validation-attributes.php` are not identical. The missing keys aren't in `excludes\{lang}.php` either.

A few examples (not complete):
DE: missing `body`, `message`, `photo`, `price`, `role`, `subject` and `terms` but has `available`, `current_password`

[2022-03-17 10:30] olsza opened #2074 "The status of translations on the WWW is not up to date"
### Environment

- Laravel-Lang Version: all
- Laravel Version: all
- PHP Version: all

### Issue description

The website https://laravel-lang.com/status.html is not up to date... There are full PL #2071  or IT #2072 translations and the status shows that it is not translated... Something GH Action did not start up well

### Steps to reproduce

https://laravel-lang.com/status.html

[2022-03-17 11:26] olsza commented on #2074
No longer valid, I see that it has been corrected and there are correct data.

[2022-03-17 11:26] #2074 closed

[2022-03-17 12:31] andrey-helldar commented on #2074
Before processing https://github.com/Laravel-Lang/lang/pull/2073:

![image](https://user-images.githubusercontent.com/10347617/158808761-682a9062-8c7f-4b87-afcf-e0c7a6e0561c.png)

After processing:

![image](https://user-images.githubusercontent.com/10347617/158808937-ecd7f5ab-152c-436a-969d-a2a824b088df.png)

[2022-04-17 15:42] top-master commented on #1073
At top of my root Blade-layout I have something like:
[code]

I mean, good that Laravel is consistence with HTML-standard
(instead of following Linux's underscore rule).

[2022-04-17 15:55] andrey-helldar commented on #1073
@top-master, the official documentation mentions that Laravel, starting from version 6.0, is moving to support the ISO 15897 standard:

So, the `zh_CN` variant is the correct ISO 15897 match.

[2022-05-03 17:43] luisprmat opened #2157 "Mail notification subcopy isn't translated!"
### Environment

- Laravel-Lang Version: 10.7.2
- Laravel Version: 9.10.1
- PHP Version: 8.1.5

### Issue description

[code]
[This text](https://github.com/laravel/framework/blob/b9203fca96960ef9cd8860cb4ec99d1279353a8d/src/Illuminate/Notifications/resources/views/email.blade.php#L53-L59) isn't translated. From we had the change to *laravel versions*, i don't know where i must put this translatio

[2022-05-03 23:11] #2157 closed

[2022-05-03 23:12] andrey-helldar commented on #2157
I created a file for such keys: https://github.com/Laravel-Lang/lang/pull/2158

[2022-05-04 16:58] luisprmat commented on #2157
This translation was lost in [this commit](https://github.com/Laravel-Lang/lang/commit/4a5b2ccdaaa4b65bd102cf71a39aba49ee589d1f) for many languages

[2022-05-04 23:26] andrey-helldar commented on #2157
@luisprmat, yes, thank you. I also remembered that I saw this key.

As the opportunity arises, I will restore it in all localizations.

[2022-06-09 09:07] ax-ross opened #2206 "Problem with transalting Laravel UI auth pages"
### Environment

- Laravel-Lang Version: 10.9.1
- Laravel Version: 9.15.0
- PHP Version: 8.1.6

### Issue description

Hello, today i have a problem: my registration and login pages was not translated (I'm using laravel ui auth). In blade template I saw, that laravel ui auth used __ function for get translating on key. In my file lang/ru/ru.json was this key. But __ function didn't found this. I l

[2022-06-09 09:19] #2206 closed

[2022-06-09 09:21] andrey-helldar commented on #2206
And one more thing: json files should be on the path `lang/ru.json`, not `lang/ru/ru.json`.

[2022-06-10 12:31] monkeyphysics opened #2207 "/uk/ folder contains Russian translations"
### Environment

- Laravel-Lang Version: latest
- Laravel Version: latest
- PHP Version: latest

### Issue description

Pretty straightforward:
https://github.com/Laravel-Lang/lang/blob/main/locales/uk/validation.php

The files for the United Kingdom actually have Russian translations in there.

### Steps to reproduce

View any file within https://github.com/Laravel-Lang/lang/blob/main/locales/uk/

[2022-06-10 12:31] monkeyphysics commented on #2207
Nvm, that's Ukrainian.

[2022-06-10 12:31] #2207 closed

[2022-06-10 13:00] andrey-helldar commented on #2207
1. This is Ukrainian :)
2. You probably mixed up the country code and locale code.

See [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes):

| Country | Country Code | Locale Code |
|:---|:---:|:---:|
| English - Great Britain | uk | en |
| Ukraine | ua | uk |

[2022-07-18 12:26] markdegrootnl opened #2269 ""You're logged in!" missing for Laravel Breeze"
### Feature description

Laravel Breeze has the message "You're logged in!" on the Dashboard page, which is missing from the translations.

### Environment

- Laravel-Lang Version:
- Laravel Version:
- PHP Version:

[2022-07-18 12:54] andrey-helldar commented on #2269
Unfortunately, Laravel cannot translate words written without explicitly calling the `trans()` or `__()` helper.

Therefore, we do not translate such phrases.

See https://github.com/laravel/breeze/blob/1.x/stubs/inertia-react/resources/js/Pages/Dashboard.jsx#L17

[2022-07-18 12:54] #2269 closed

[2022-08-22 16:00] andrey-helldar opened #2334 "The documentation generator does not display the status of inline translations"
### Environment

- Laravel-Lang Version: 11.0.13
- PHP Version: 8.1.9

### Issue description

![image](https://user-images.githubusercontent.com/10347617/185965999-52bbb3c6-b61a-4e84-8e19-24c08ccf6120.png)

![image](https://user-images.githubusercontent.com/10347617/185966102-1b3d8fdd-f413-4547-8d80-ed093d37f6ed.png)

### Steps to reproduce

:)

[2022-08-22 16:24] andrey-helldar commented on #2334
@luisprmat, it's a bug of the status generator. I'm working on a bug fix.

[2022-08-22 17:13] andrey-helldar commented on #2334
Fixed

[2022-08-22 17:13] #2334 closed

[2022-09-18 14:21] ghostlexly opened #2394 "The error message contains english text"
### Environment

- Laravel-Lang Version: 12.0
- Laravel Version: 9
- PHP Version: 8.1

### Issue description

On the "message" attribute, we still have an English not translated text.

[code]

### Steps to reproduce

- Install Laravel-Lang/lang
- add the french language

[code]

- send an api request with  multiple validations constraints.

[2022-09-18 14:35] andrey-helldar commented on #2394
@ghostlexly, it really is. We have not translated all the phrases yet.

You can see the current status of the translation [`here`](https://laravel-lang.com/statuses/fr.html).

[2022-09-18 14:35] #2394 closed

[2022-09-18 16:22] andrey-helldar commented on #2394
@caouecs, @WhereIsLucas, can you help?

[2022-09-18 16:26] caouecs commented on #2394
I do

[2022-09-18 17:11] andrey-helldar commented on #2394
@ghostlexly, you can run the `composer update` command.

[2022-10-26 21:02] Stevemoretz opened #2437 "Can't get it to work"
### Environment

- Laravel-Lang Version: 12.1.2
- Laravel Version: 8.83.24
- PHP Version: 7.4

### Issue description

I can't seem to find how to place the files to make it work, it used be a few php files when I used to use laravel 6 but now I have no idea where to put your files?

[code]

The documentation doesn't mention it either, and it is vague.

Here are the structures I have tried:

<img w